1. Write a Pandas program to display the default index and set a column as an Index in a given dataframe.

In [3]:
import pandas as pd

df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4'],
    't_id':['t1', 't2', 't3', 't4', 't5', 't6']})
print("Default Index:")
print(df.head(10))
print("\nschool_code as new Index:")
df1 = df.set_index('school_code')
print(df1)
print("\nt_id as new Index:")
df2 = df.set_index('t_id')
print(df2)

Default Index:
  school_code class            name date_Of_Birth  weight  address t_id
0        s001     V  Alberto Franco    15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill    17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes    16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton    25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill    11/05/2002      31  street2   t5
5        s004    VI    David Parkes    15/09/1997      32  street4   t6

school_code as new Index:
            class            name date_Of_Birth  weight  address t_id
school_code
s001            V  Alberto Franco    15/05/2002      35  street1   t1
s002            V    Gino Mcneill    17/05/2002      32  street2   t2
s003           VI     Ryan Parkes    16/02/1999      33  street3   t3
s001           VI    Eesha Hinton    25/09/1998      30  street1   t4
s002            V    Gino Mcneill    11/05/2002      31  street2   t5
s004           VI    David Parkes    15/09/1997      32  street4   t6

t_id as new Index:
     school_code class            name date_Of_Birth  weight  address
t_id
t1          s001     V  Alberto Franco    15/05/2002      35  street1
t2          s002     V    Gino Mcneill    17/05/2002      32  street2
t3          s003    VI     Ryan Parkes    16/02/1999      33  street3
t4          s001    VI    Eesha Hinton    25/09/1998      30  street1
t5          s002     V    Gino Mcneill    11/05/2002      31  street2
t6          s004    VI    David Parkes    15/09/1997      32  street4

2. Write a Pandas program to create a multi Index frame using two columns and using an Index and a column

In [4]:
print("Original DataFrame:")
print(df)
print("\nMultiIndex using columns 't_id' and ‘school_code’:")
df1 = df.set_index(['t_id', 'school_code'])
print(df1)
print("\nMultiIndex using an Index and a column:")
df2 = df.set_index([pd.Index([0, 1, 2, 3, 4, 5]), 't_id'])
print(df2)

Original DataFrame:
  school_code class            name date_Of_Birth  weight  address t_id
0        s001     V  Alberto Franco    15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill    17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes    16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton    25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill    11/05/2002      31  street2   t5
5        s004    VI    David Parkes    15/09/1997      32  street4   t6

MultiIndex using columns 't_id' and ‘school_code’:
                 class            name date_Of_Birth  weight  address
t_id school_code
t1   s001            V  Alberto Franco    15/05/2002      35  street1
t2   s002            V    Gino Mcneill    17/05/2002      32  street2
t3   s003           VI     Ryan Parkes    16/02/1999      33  street3
t4   s001           VI    Eesha Hinton    25/09/1998      30  street1
t5   s002            V    Gino Mcneill    11/05/2002      31  street2
t6   s004           VI    David Parkes    15/09/1997      32  street4

MultiIndex using an Index and a column:
       school_code class            name date_Of_Birth  weight  address
  t_id
0 t1          s001     V  Alberto Franco    15/05/2002      35  street1
1 t2          s002     V    Gino Mcneill    17/05/2002      32  street2
2 t3          s003    VI     Ryan Parkes    16/02/1999      33  street3
3 t4          s001    VI    Eesha Hinton    25/09/1998      30  street1
4 t5          s002     V    Gino Mcneill    11/05/2002      31  street2
5 t6          s004    VI    David Parkes    15/09/1997      32  street4

3. Write a Pandas program to display the default index and set a column as an Index in a given dataframe and then reset the index.

In [5]:
print("Default Index:")
print(df.head(10))
print("\nt_id as new Index:")
df1 = df.set_index('t_id')
print(df1)
print("\nReset the index:")
df2 = df1.reset_index(inplace=False)
print(df2)

Default Index:
  school_code class            name date_Of_Birth  weight  address t_id
0        s001     V  Alberto Franco    15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill    17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes    16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton    25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill    11/05/2002      31  street2   t5
5        s004    VI    David Parkes    15/09/1997      32  street4   t6

t_id as new Index:
     school_code class            name date_Of_Birth  weight  address
t_id
t1          s001     V  Alberto Franco    15/05/2002      35  street1
t2          s002     V    Gino Mcneill    17/05/2002      32  street2
t3          s003    VI     Ryan Parkes    16/02/1999      33  street3
t4          s001    VI    Eesha Hinton    25/09/1998      30  street1
t5          s002     V    Gino Mcneill    11/05/2002      31  street2
t6          s004    VI    David Parkes    15/09/1997      32  street4

Reset the index:
  t_id school_code class            name date_Of_Birth  weight  address
0   t1        s001     V  Alberto Franco    15/05/2002      35  street1
1   t2        s002     V    Gino Mcneill    17/05/2002      32  street2
2   t3        s003    VI     Ryan Parkes    16/02/1999      33  street3
3   t4        s001    VI    Eesha Hinton    25/09/1998      30  street1
4   t5        s002     V    Gino Mcneill    11/05/2002      31  street2
5   t6        s004    VI    David Parkes    15/09/1997      32  street4

4. Write a Pandas program to create an index labels by using 64-bit integers, using floating-point numbers in a given dataframe.

In [6]:
print("Create an Int64Index:")
df_i64 = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']},
    index=[1, 2, 3, 4, 5, 6])
print(df_i64)
print("\nView the Index:")
print(df_i64.index)

print("\nFloating-point labels using Float64Index:")
df_f64 = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth ': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']},
    index=[.1, .2, .3, .4, .5, .6])
print(df_f64)
print("\nView the Index:")
print(df_f64.index)

Create an Int64Index:
  school_code class            name date_Of_Birth  weight  address
1        s001     V  Alberto Franco    15/05/2002      35  street1
2        s002     V    Gino Mcneill    17/05/2002      32  street2
3        s003    VI     Ryan Parkes    16/02/1999      33  street3
4        s001    VI    Eesha Hinton    25/09/1998      30  street1
5        s002     V    Gino Mcneill    11/05/2002      31  street2
6        s004    VI    David Parkes    15/09/1997      32  street4

View the Index:
Int64Index([1, 2, 3, 4, 5, 6], dtype='int64')

Floating-point labels using Float64Index:
    school_code class            name date_Of_Birth   weight  address
0.1        s001     V  Alberto Franco     15/05/2002      35  street1
0.2        s002     V    Gino Mcneill     17/05/2002      32  street2
0.3        s003    VI     Ryan Parkes     16/02/1999      33  street3
0.4        s001    VI    Eesha Hinton     25/09/1998      30  street1
0.5        s002     V    Gino Mcneill     11/05/2002      31  street2
0.6        s004    VI    David Parkes     15/09/1997      32  street4

View the Index:
Float64Index([0.1, 0.2, 0.3, 0.4, 0.5, 0.6], dtype='float64')

5. Write a Pandas program to create a DataFrame using intervals as an index.

In [7]:
print("Create an Interval Index using IntervalIndex.from_breaks:")
df_interval = pd.DataFrame({"X":[1, 2, 3, 4, 5, 6, 7]},
                            index = pd.IntervalIndex.from_breaks(
                            [0, 0.5, 1.0, 1.5, 2.0, 2.5, 3, 3.5]))    
print(df_interval)
print(df_interval.index)

print("\nCreate an Interval Index using IntervalIndex.from_tuples:")
df_interval = pd.DataFrame({"X":[1, 2, 3, 4, 5, 6, 7]},             
                            index = pd.IntervalIndex.from_tuples(
                            [(0, .5), (.5, 1), (1, 1.5), (1.5, 2), (2, 2.5), (2.5, 3), (3, 3.5)]))
print(df_interval)
print(df_interval.index)

print("\nCreate an Interval Index using IntervalIndex.from_arrays:")
df_interval = pd.DataFrame({"X":[1, 2, 3, 4, 5, 6, 7]},             
                            index = pd.IntervalIndex.from_arrays(
                            [0, .5, 1, 1.5, 2, 2.5, 3], [.5, 1, 1.5, 2, 2.5, 3, 3.5]))
print(df_interval)
print(df_interval.index)

Create an Interval Index using IntervalIndex.from_breaks:
            X
(0.0, 0.5]  1
(0.5, 1.0]  2
(1.0, 1.5]  3
(1.5, 2.0]  4
(2.0, 2.5]  5
(2.5, 3.0]  6
(3.0, 3.5]  7
IntervalIndex([(0.0, 0.5], (0.5, 1.0], (1.0, 1.5], (1.5, 2.0], (2.0, 2.5], (2.5, 3.0], (3.0, 3.5]], dtype='interval[float64, right]')

Create an Interval Index using IntervalIndex.from_tuples:
            X
(0.0, 0.5]  1
(0.5, 1.0]  2
(1.0, 1.5]  3
(1.5, 2.0]  4
(2.0, 2.5]  5
(2.5, 3.0]  6
(3.0, 3.5]  7
IntervalIndex([(0.0, 0.5], (0.5, 1.0], (1.0, 1.5], (1.5, 2.0], (2.0, 2.5], (2.5, 3.0], (3.0, 3.5]], dtype='interval[float64, right]')

Create an Interval Index using IntervalIndex.from_arrays:
            X
(0.0, 0.5]  1
(0.5, 1.0]  2
(1.0, 1.5]  3
(1.5, 2.0]  4
(2.0, 2.5]  5
(2.5, 3.0]  6
(3.0, 3.5]  7
IntervalIndex([(0.0, 0.5], (0.5, 1.0], (1.0, 1.5], (1.5, 2.0], (2.0, 2.5], (2.5, 3.0], (3.0, 3.5]], dtype='interval[float64, right]')

6. Write a Pandas program to create a dataframe indexing by date and time.

In [11]:
print("Create a dataframe, indexing by date and time:")

dt_range = pd.date_range(start ='2020-05-12 07:10:10', freq ='S', periods = 10) 
df_dt = pd.DataFrame({"Sale_amt":[100, 110, 117, 150, 112, 99, 129, 135, 140, 150]},
                            index = dt_range)
print(df_dt)

Create a dataframe, indexing by date and time:
                     Sale_amt
2020-05-12 07:10:10       100
2020-05-12 07:10:11       110
2020-05-12 07:10:12       117
2020-05-12 07:10:13       150
2020-05-12 07:10:14       112
2020-05-12 07:10:15        99
2020-05-12 07:10:16       129
2020-05-12 07:10:17       135
2020-05-12 07:10:18       140
2020-05-12 07:10:19       150

7. Write a Pandas program to create a dataframe and set a title or name of the index column.

In [8]:
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']},
                                index = ['t1', 't2', 't3', 't4', 't5', 't6'])
print("Original DataFrame:")
print(df)
df.index.name = 'Index_name'
print("\nSaid DataFrame with a title or name of the index column:")
print(df)

Original DataFrame:
   school_code class            name date_Of_Birth  weight  address
t1        s001     V  Alberto Franco    15/05/2002      35  street1
t2        s002     V    Gino Mcneill    17/05/2002      32  street2
t3        s003    VI     Ryan Parkes    16/02/1999      33  street3
t4        s001    VI    Eesha Hinton    25/09/1998      30  street1
t5        s002     V    Gino Mcneill    11/05/2002      31  street2
t6        s004    VI    David Parkes    15/09/1997      32  street4

Said DataFrame with a title or name of the index column:
           school_code class            name date_Of_Birth  weight  address
Index_name
t1                s001     V  Alberto Franco    15/05/2002      35  street1
t2                s002     V    Gino Mcneill    17/05/2002      32  street2
t3                s003    VI     Ryan Parkes    16/02/1999      33  street3
t4                s001    VI    Eesha Hinton    25/09/1998      30  street1
t5                s002     V    Gino Mcneill    11/05/2002      31  street2
t6                s004    VI    David Parkes    15/09/1997      32  street4

8. Write a Pandas program to set value in a specific cell in a given dataframe using index.

In [12]:
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32]},
     index = ['t1', 't2', 't3', 't4', 't5', 't6'])
print("Original DataFrame:")
print(df)
print("\nSet school code 's004' to 's005':")
df.at['t6', 'school_code'] = 's005'
print(df)
print("\nSet date_of_birth of 'Alberto Franco' to '16/05/2002':")
df.at['t1', 'date_of_birth'] = '16/05/2002'
print(df)

Original DataFrame:
   school_code class            name date_of_birth  weight
t1        s001     V  Alberto Franco    15/05/2002      35
t2        s002     V    Gino Mcneill    17/05/2002      32
t3        s003    VI     Ryan Parkes    16/02/1999      33
t4        s001    VI    Eesha Hinton    25/09/1998      30
t5        s002     V    Gino Mcneill    11/05/2002      31
t6        s004    VI    David Parkes    15/09/1997      32

Set school code 's004' to 's005':
   school_code class            name date_of_birth  weight
t1        s001     V  Alberto Franco    15/05/2002      35
t2        s002     V    Gino Mcneill    17/05/2002      32
t3        s003    VI     Ryan Parkes    16/02/1999      33
t4        s001    VI    Eesha Hinton    25/09/1998      30
t5        s002     V    Gino Mcneill    11/05/2002      31
t6        s005    VI    David Parkes    15/09/1997      32

Set date_of_birth of 'Alberto Franco' to '16/05/2002':
   school_code class            name date_of_birth  weight
t1        s001     V  Alberto Franco    16/05/2002      35
t2        s002     V    Gino Mcneill    17/05/2002      32
t3        s003    VI     Ryan Parkes    16/02/1999      33
t4        s001    VI    Eesha Hinton    25/09/1998      30
t5        s002     V    Gino Mcneill    11/05/2002      31
t6        s005    VI    David Parkes    15/09/1997      32

9. Write a Pandas program to convert index of a given dataframe into a column.

In [13]:
print("Original DataFrame:")
print(df)
print("\nConvert index of the said dataframe into a column:")
df.reset_index(level=0, inplace=True)
print(df)

Original DataFrame:
   school_code class            name date_of_birth  weight
t1        s001     V  Alberto Franco    16/05/2002      35
t2        s002     V    Gino Mcneill    17/05/2002      32
t3        s003    VI     Ryan Parkes    16/02/1999      33
t4        s001    VI    Eesha Hinton    25/09/1998      30
t5        s002     V    Gino Mcneill    11/05/2002      31
t6        s005    VI    David Parkes    15/09/1997      32

Convert index of the said dataframe into a column:
  index school_code class            name date_of_birth  weight
0    t1        s001     V  Alberto Franco    16/05/2002      35
1    t2        s002     V    Gino Mcneill    17/05/2002      32
2    t3        s003    VI     Ryan Parkes    16/02/1999      33
3    t4        s001    VI    Eesha Hinton    25/09/1998      30
4    t5        s002     V    Gino Mcneill    11/05/2002      31
5    t6        s005    VI    David Parkes    15/09/1997      32

10. Write a Pandas program to convert 1st and 3rd levels in the index into columns from a multiple level of index frame of a given dataframe.

In [14]:
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    't_id': ['t1', 't2', 't3', 't4', 't5', 't6']})
print("Original DataFrame:")
print(df)
print("\nMultiIndex using columns 't_id', ‘school_code’ and 'class':")
df1 = df.set_index(['t_id', 'school_code', 'class'])
print(df1)
print("\nConvert 1st and 3rd levels in the index frame into columns:")
df2 = df1.reset_index(level=['t_id', 'class'])
print(df2)

Original DataFrame:
  school_code class            name date_of_birth  weight t_id
0        s001     V  Alberto Franco    15/05/2002      35   t1
1        s002     V    Gino Mcneill    17/05/2002      32   t2
2        s003    VI     Ryan Parkes    16/02/1999      33   t3
3        s001    VI    Eesha Hinton    25/09/1998      30   t4
4        s002     V    Gino Mcneill    11/05/2002      31   t5
5        s004    VI    David Parkes    15/09/1997      32   t6

MultiIndex using columns 't_id', ‘school_code’ and 'class':
                                  name date_of_birth  weight
t_id school_code class
t1   s001        V      Alberto Franco    15/05/2002      35
t2   s002        V        Gino Mcneill    17/05/2002      32
t3   s003        VI        Ryan Parkes    16/02/1999      33
t4   s001        VI       Eesha Hinton    25/09/1998      30
t5   s002        V        Gino Mcneill    11/05/2002      31
t6   s004        VI       David Parkes    15/09/1997      32

Convert 1st and 3rd levels in the index frame into columns:
            t_id class            name date_of_birth  weight
school_code
s001          t1     V  Alberto Franco    15/05/2002      35
s002          t2     V    Gino Mcneill    17/05/2002      32
s003          t3    VI     Ryan Parkes    16/02/1999      33
s001          t4    VI    Eesha Hinton    25/09/1998      30
s002          t5     V    Gino Mcneill    11/05/2002      31
s004          t6    VI    David Parkes    15/09/1997      32

11. Write a Pandas program to check if a specified value exists in single and multiple column index dataframe

In [15]:
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32]},
     index =  ['t1', 't2', 't3', 't4', 't5', 't6'])
print("Original DataFrame with single index:")
print(df)
print("\nCheck a value is exist in single column index dataframe:")
print('t1' in df.index)
print('t11' in df.index)
print("\nCreate MultiIndex using columns 't_id', ‘school_code’ and 'class':")
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    't_id': ['t1', 't2', 't3', 't4', 't5', 't6']})
df1 = df.set_index(['t_id', 'school_code', 'class'])
print(df1)
print("\nCheck a value is exist in multiple columns index dataframe:")
print('t4' in df1.index.levels[0])
print('t4' in df1.index.levels[1])
print('t4' in df1.index.levels[2])

Original DataFrame with single index:
   school_code class            name date_of_birth  weight
t1        s001     V  Alberto Franco    15/05/2002      35
t2        s002     V    Gino Mcneill    17/05/2002      32
t3        s003    VI     Ryan Parkes    16/02/1999      33
t4        s001    VI    Eesha Hinton    25/09/1998      30
t5        s002     V    Gino Mcneill    11/05/2002      31
t6        s004    VI    David Parkes    15/09/1997      32

Check a value is exist in single column index dataframe:
True
False

Create MultiIndex using columns 't_id', ‘school_code’ and 'class':
                                  name date_of_birth  weight
t_id school_code class
t1   s001        V      Alberto Franco    15/05/2002      35
t2   s002        V        Gino Mcneill    17/05/2002      32
t3   s003        VI        Ryan Parkes    16/02/1999      33
t4   s001        VI       Eesha Hinton    25/09/1998      30
t5   s002        V        Gino Mcneill    11/05/2002      31
t6   s004        VI       David Parkes    15/09/1997      32

Check a value is exist in multiple columns index dataframe:
True
False
False

12. Write a Pandas program to construct a series using the MultiIndex levels as the column and index

In [16]:
import numpy as np

sales_arrays = [['sale1', 'sale1', 'sale2', 'sale2', 'sale3', 'sale3', 'sale4', 'sale4'],
          ['city1', 'city2', 'city1', 'city2', 'city1', 'city2', 'city1', 'city2']]
sales_tuples = list(zip(*sales_arrays))
print("Create a MultiIndex:")
sales_index = pd.MultiIndex.from_tuples(sales_tuples, names=['sale', 'city'])
print(sales_tuples)
print("\nConstruct a series using the said MultiIndex levels: ")
s = pd.Series(np.random.randn(8), index = sales_index)
print(s)

Create a MultiIndex:
[('sale1', 'city1'), ('sale1', 'city2'), ('sale2', 'city1'), ('sale2', 'city2'), ('sale3', 'city1'), ('sale3', 'city2'), ('sale4', 'city1'), ('sale4', 'city2')]

Construct a series using the said MultiIndex levels:
sale   city
sale1  city1   -0.726104
       city2   -1.348622
sale2  city1    0.786838
       city2   -2.031971
sale3  city1    0.069783
       city2   -0.993687
sale4  city1   -0.182475
       city2    0.283089
dtype: float64

13. Write a Pandas program to construct a DataFrame using the MultiIndex levels as the column and index.

In [17]:
sales_arrays = [['sale1', 'sale1', 'sale2', 'sale2', 'sale3', 'sale3', 'sale4', 'sale4'],
          ['city1', 'city2', 'city1', 'city2', 'city1', 'city2', 'city1', 'city2']]
sales_tuples = list(zip(*sales_arrays))
print("Create a MultiIndex:")
sales_index = pd.MultiIndex.from_tuples(sales_tuples, names=['sale', 'city'])
print(sales_tuples)
print("\nConstruct a Dataframe using the said MultiIndex levels: ")
df = pd.DataFrame(np.random.randn(8, 5), index=sales_index)
print(df)

Create a MultiIndex:
[('sale1', 'city1'), ('sale1', 'city2'), ('sale2', 'city1'), ('sale2', 'city2'), ('sale3', 'city1'), ('sale3', 'city2'), ('sale4', 'city1'), ('sale4', 'city2')]

Construct a Dataframe using the said MultiIndex levels:
                    0         1         2         3         4
sale  city
sale1 city1 -0.087711 -3.183458 -0.796675  1.048413  0.389185
      city2  0.815948 -0.154888  0.833011 -0.560001 -0.950412
sale2 city1  0.081862  1.016444 -0.613572  0.844403  1.642299
      city2  0.884492 -0.361862 -0.267706 -0.661084 -0.169714
sale3 city1 -0.349512  1.508113 -0.273685 -0.168628 -0.085177
      city2 -1.338801 -0.617582 -0.681632  0.278866  0.782023
sale4 city1  0.425327 -1.665080  0.396809  0.708751  0.706665
      city2  0.766121  0.519819 -1.181085  0.427505  1.934456

14. Write a Pandas program to extract a single row, rows and a specific value from a MultiIndex levels DataFrame.

In [19]:
sales_arrays = [['sale1', 'sale1', 'sale2', 'sale2', 'sale3', 'sale3', 'sale4', 'sale4'],
          ['city1', 'city2', 'city1', 'city2', 'city1', 'city2', 'city1', 'city2']]
sales_tuples = list(zip(*sales_arrays))
sales_index = pd.MultiIndex.from_tuples(sales_tuples, names=['sale', 'city'])
print(sales_tuples)
print("\nConstruct a Dataframe using the said MultiIndex levels: ")
df = pd.DataFrame(np.random.randn(8, 5), index=sales_index)
print(df)

print("\nExtract a single row from the said dataframe:")
print(df.loc[('sale2', 'city1')])
print("\nExtract a single row from the said dataframe:")
print(df.loc[('sale2', 'city2')])

print("\nExtract number of rows from the said dataframe:")
print(df.loc['sale1'])
print("\nExtract number of rows from the said dataframe:")
print(df.loc['sale3'])

print("\nExtract a single value from the said dataframe:")
print(df.loc[('sale1', 'city2'), 1])
print("\nExtract a single value from the said dataframe:")
print(df.loc[('sale4', 'city1'), 4])

[('sale1', 'city1'), ('sale1', 'city2'), ('sale2', 'city1'), ('sale2', 'city2'), ('sale3', 'city1'), ('sale3', 'city2'), ('sale4', 'city1'), ('sale4', 'city2')]

Construct a Dataframe using the said MultiIndex levels:
                    0         1         2         3         4
sale  city
sale1 city1  0.784199  2.282800  0.535615 -0.927026  0.680125
      city2  0.183796 -0.112078  0.760148  0.442800  0.879634
sale2 city1 -0.187337  0.372969 -0.705329 -0.668507  0.539999
      city2  0.677763  1.293760  1.957845 -0.776844 -0.393461
sale3 city1 -2.041901 -0.322691 -1.223597  0.401273 -0.112277
      city2 -1.420735  0.127382  0.858296 -0.615053  1.262592
sale4 city1  0.639544 -1.427996 -2.102812 -1.252171  0.329656
      city2  1.146222 -0.442410 -0.863396 -1.141348 -1.482155

Extract a single row from the said dataframe:
0   -0.187337
1    0.372969
2   -0.705329
3   -0.668507
4    0.539999
Name: (sale2, city1), dtype: float64

Extract a single row from the said dataframe:
0    0.677763
1    1.293760
2    1.957845
3   -0.776844
4   -0.393461
Name: (sale2, city2), dtype: float64

Extract number of rows from the said dataframe:
              0         1         2         3         4
city
city1  0.784199  2.282800  0.535615 -0.927026  0.680125
city2  0.183796 -0.112078  0.760148  0.442800  0.879634

Extract number of rows from the said dataframe:
              0         1         2         3         4
city
city1 -2.041901 -0.322691 -1.223597  0.401273 -0.112277
city2 -1.420735  0.127382  0.858296 -0.615053  1.262592

Extract a single value from the said dataframe:
-0.11207813324187287

Extract a single value from the said dataframe:
0.3296560243430975

15. Write a Pandas program to rename names of columns and specific labels of the Main Index of the MultiIndex dataframe.

In [20]:
sales_arrays = [['sale1', 'sale1', 'sale2', 'sale2', 'sale3', 'sale3', 'sale4', 'sale4'],
          ['city1', 'city2', 'city1', 'city2', 'city1', 'city2', 'city1', 'city2']]
sales_tuples = list(zip(*sales_arrays))
sales_index = pd.MultiIndex.from_tuples(sales_tuples, names=['sale', 'city'])
print(sales_tuples)
print("\nConstruct a Dataframe using the said MultiIndex levels: ")
df = pd.DataFrame(np.random.randn(8, 5), index=sales_index)
print(df)
print("\nRename the columns name of the said dataframe")
df1 = df.rename(columns={0: "col1", 1: "col2", 2:"col3", 3:"col4", 4:"col5"})
print(df1)
print("\nRename specific labels of the main index of the DataFrame")
df2 = df1.rename(index={"sale2": "S2", "city2": "C2"})
print(df2)

[('sale1', 'city1'), ('sale1', 'city2'), ('sale2', 'city1'), ('sale2', 'city2'), ('sale3', 'city1'), ('sale3', 'city2'), ('sale4', 'city1'), ('sale4', 'city2')]

Construct a Dataframe using the said MultiIndex levels:
                    0         1         2         3         4
sale  city
sale1 city1 -0.265092 -1.053423 -0.163334 -2.128128  0.662196
      city2  1.221582  0.934381  1.633618 -0.307919  1.753377
sale2 city1 -1.686906  1.125091 -0.199456 -0.915043  1.537582
      city2 -0.428846  0.288208  0.864589  0.244167 -0.020595
sale3 city1  2.450488  0.437513 -0.238742  2.463872  0.277639
      city2  0.076686 -0.464265 -1.071247 -0.931699  0.138749
sale4 city1  0.660113  0.256789 -0.102548  0.293818  1.335192
      city2  2.639788  0.819873 -1.031357 -1.434581 -0.299858

Rename the columns name of the said dataframe
                 col1      col2      col3      col4      col5
sale  city
sale1 city1 -0.265092 -1.053423 -0.163334 -2.128128  0.662196
      city2  1.221582  0.934381  1.633618 -0.307919  1.753377
sale2 city1 -1.686906  1.125091 -0.199456 -0.915043  1.537582
      city2 -0.428846  0.288208  0.864589  0.244167 -0.020595
sale3 city1  2.450488  0.437513 -0.238742  2.463872  0.277639
      city2  0.076686 -0.464265 -1.071247 -0.931699  0.138749
sale4 city1  0.660113  0.256789 -0.102548  0.293818  1.335192
      city2  2.639788  0.819873 -1.031357 -1.434581 -0.299858

Rename specific labels of the main index of the DataFrame
                 col1      col2      col3      col4      col5
sale  city
sale1 city1 -0.265092 -1.053423 -0.163334 -2.128128  0.662196
      C2     1.221582  0.934381  1.633618 -0.307919  1.753377
S2    city1 -1.686906  1.125091 -0.199456 -0.915043  1.537582
      C2    -0.428846  0.288208  0.864589  0.244167 -0.020595
sale3 city1  2.450488  0.437513 -0.238742  2.463872  0.277639
      C2     0.076686 -0.464265 -1.071247 -0.931699  0.138749
sale4 city1  0.660113  0.256789 -0.102548  0.293818  1.335192
      C2     2.639788  0.819873 -1.031357 -1.434581 -0.299858

16. Write a Pandas program to sort a MultiIndex of a DataFrame. Also sort on various levels of index.

In [22]:
sales_arrays = [['sale1', 'sale1', 'sale3', 'sale3', 'sale2', 'sale2', 'sale4', 'sale4'],
          ['city1', 'city2', 'city1', 'city2', 'city1', 'city2', 'city1', 'city2']]
sales_tuples = list(zip(*sales_arrays))
sales_index = pd.MultiIndex.from_tuples(sales_tuples, names=['sale', 'city'])
print(sales_tuples)
print("\nConstruct a Dataframe using the said MultiIndex levels: ")
df = pd.DataFrame(np.random.randn(8, 5), index=sales_index)
print(df)
print("\nSort on MultiIndex DataFrame:")
df1 = df.sort_index()
print(df1)
print("\nSort on Index level=0 of the DataFrame:")
df2 = df.sort_index(level=0)
print(df2)
print("\nSort on Index level=1 of the DataFrame:")
df2 = df.sort_index(level=1)
print(df2)
print("\nPass a level name to sort the DataFrame:")
df3 = df.sort_index(level="city")
print(df3)

[('sale1', 'city1'), ('sale1', 'city2'), ('sale3', 'city1'), ('sale3', 'city2'), ('sale2', 'city1'), ('sale2', 'city2'), ('sale4', 'city1'), ('sale4', 'city2')]

Construct a Dataframe using the said MultiIndex levels:
                    0         1         2         3         4
sale  city
sale1 city1 -0.806466  1.075793 -0.404915 -0.722941 -0.734770
      city2  0.761714  0.010594 -1.614251  0.962958 -0.791583
sale3 city1  0.498458 -0.530193  0.137922  0.748331  1.367004
      city2 -1.400306 -0.354580 -1.456434  1.710216  1.543771
sale2 city1 -1.267283  1.086675  0.505593 -0.458210 -1.104181
      city2 -0.457022 -0.429508 -0.030036 -0.863800  0.453058
sale4 city1  0.884851 -0.771064 -1.350746 -1.818473 -1.237699
      city2  0.042888 -0.470036 -0.601851 -1.405500 -2.165288

Sort on MultiIndex DataFrame:
                    0         1         2         3         4
sale  city
sale1 city1 -0.806466  1.075793 -0.404915 -0.722941 -0.734770
      city2  0.761714  0.010594 -1.614251  0.962958 -0.791583
sale2 city1 -1.267283  1.086675  0.505593 -0.458210 -1.104181
      city2 -0.457022 -0.429508 -0.030036 -0.863800  0.453058
sale3 city1  0.498458 -0.530193  0.137922  0.748331  1.367004
      city2 -1.400306 -0.354580 -1.456434  1.710216  1.543771
sale4 city1  0.884851 -0.771064 -1.350746 -1.818473 -1.237699
      city2  0.042888 -0.470036 -0.601851 -1.405500 -2.165288

Sort on Index level=0 of the DataFrame:
                    0         1         2         3         4
sale  city
sale1 city1 -0.806466  1.075793 -0.404915 -0.722941 -0.734770
      city2  0.761714  0.010594 -1.614251  0.962958 -0.791583
sale2 city1 -1.267283  1.086675  0.505593 -0.458210 -1.104181
      city2 -0.457022 -0.429508 -0.030036 -0.863800  0.453058
sale3 city1  0.498458 -0.530193  0.137922  0.748331  1.367004
      city2 -1.400306 -0.354580 -1.456434  1.710216  1.543771
sale4 city1  0.884851 -0.771064 -1.350746 -1.818473 -1.237699
      city2  0.042888 -0.470036 -0.601851 -1.405500 -2.165288

Sort on Index level=1 of the DataFrame:
                    0         1         2         3         4
sale  city
sale1 city1 -0.806466  1.075793 -0.404915 -0.722941 -0.734770
sale2 city1 -1.267283  1.086675  0.505593 -0.458210 -1.104181
sale3 city1  0.498458 -0.530193  0.137922  0.748331  1.367004
sale4 city1  0.884851 -0.771064 -1.350746 -1.818473 -1.237699
sale1 city2  0.761714  0.010594 -1.614251  0.962958 -0.791583
sale2 city2 -0.457022 -0.429508 -0.030036 -0.863800  0.453058
sale3 city2 -1.400306 -0.354580 -1.456434  1.710216  1.543771
sale4 city2  0.042888 -0.470036 -0.601851 -1.405500 -2.165288

Pass a level name to sort the DataFrame:
                    0         1         2         3         4
sale  city
sale1 city1 -0.806466  1.075793 -0.404915 -0.722941 -0.734770
sale2 city1 -1.267283  1.086675  0.505593 -0.458210 -1.104181
sale3 city1  0.498458 -0.530193  0.137922  0.748331  1.367004
sale4 city1  0.884851 -0.771064 -1.350746 -1.818473 -1.237699
sale1 city2  0.761714  0.010594 -1.614251  0.962958 -0.791583
sale2 city2 -0.457022 -0.429508 -0.030036 -0.863800  0.453058
sale3 city2 -1.400306 -0.354580 -1.456434  1.710216  1.543771
sale4 city2  0.042888 -0.470036 -0.601851 -1.405500 -2.165288

17. Write a Pandas program to extract elements in the given positional indices along an axis of a dataframe.

In [23]:
sales_arrays = [['sale1', 'sale1', 'sale3', 'sale3', 'sale2', 'sale2', 'sale4', 'sale4'],
          ['city1', 'city2', 'city1', 'city2', 'city1', 'city2', 'city1', 'city2']]
sales_tuples = list(zip(*sales_arrays))
sales_index = pd.MultiIndex.from_tuples(sales_tuples, names=['sale', 'city'])
print("\nConstruct a Dataframe using the said MultiIndex levels:")
df = pd.DataFrame(np.random.randn(8, 5), index=sales_index)
print(df)
print("\nSelect 1st, 2nd and 3rd row of the said DataFrame:")
positions = [1, 2, 5]
print(df.take([1, 2, 5]))

print("\nTake elements at indices 1 and 2 along the axis 1 (column selection):")
print(df.take([1, 2], axis=1))

print("\nTake elements at indices 4 and 3 using negative integers along the axis 1 (column selection):")
print(df.take([-1, -2], axis=1))

Construct a Dataframe using the said MultiIndex levels:
                    0         1         2         3         4
sale  city
sale1 city1 -0.973202 -2.260890  2.005041  0.082172  1.672200
      city2 -0.991917  2.594995  0.216563  0.503537 -1.129896
sale3 city1 -0.786036 -0.951768 -0.455005  1.256815 -0.228924
      city2 -0.002601  0.949294 -1.218827 -2.446638  0.142439
sale2 city1 -1.571343 -0.878401 -1.695808  0.386223 -0.198063
      city2  0.416065 -0.447115  1.312119 -1.986857 -0.184494
sale4 city1  0.989650  1.806045  0.724829 -0.541678 -0.877324
      city2  0.891889  0.637495 -0.080469  1.382424 -0.370326

Select 1st, 2nd and 3rd row of the said DataFrame:
                    0         1         2         3         4
sale  city
sale1 city2 -0.991917  2.594995  0.216563  0.503537 -1.129896
sale3 city1 -0.786036 -0.951768 -0.455005  1.256815 -0.228924
sale2 city2  0.416065 -0.447115  1.312119 -1.986857 -0.184494

Take elements at indices 1 and 2 along the axis 1 (column selection):
                    1         2
sale  city
sale1 city1 -2.260890  2.005041
      city2  2.594995  0.216563
sale3 city1 -0.951768 -0.455005
      city2  0.949294 -1.218827
sale2 city1 -0.878401 -1.695808
      city2 -0.447115  1.312119
sale4 city1  1.806045  0.724829
      city2  0.637495 -0.080469

Take elements at indices 4 and 3 using negative integers along the axis 1 (column selection):
                    4         3
sale  city
sale1 city1  1.672200  0.082172
      city2 -1.129896  0.503537
sale3 city1 -0.228924  1.256815
      city2  0.142439 -2.446638
sale2 city1 -0.198063  0.386223
      city2 -0.184494 -1.986857
sale4 city1 -0.877324 -0.541678
      city2 -0.370326  1.382424

18. Write a Pandas program to get the index of an element of a given Series.

In [24]:
ds = pd.Series([1,3,5,7,9,11,13,15], index=[0,1,2,3,4,5,7,8])
print("Original Series:")
print(ds)
print("\nIndex of 11 in the said series:")
x = ds[ds == 11].index[0]
print(x)

Original Series:
0     1
1     3
2     5
3     7
4     9
5    11
7    13
8    15
dtype: int64

Index of 11 in the said series:
5

19. Write a Pandas program to select a specific row of given series/dataframe by integer index.

In [25]:
ds = pd.Series([1,3,5,7,9,11,13,15], index=[0,1,2,3,4,5,7,8])
print("Original Series:")
print(ds)
print("\nPrint specified row from the said series using location based indexing:")
print("\nThird row:")
print(ds.iloc[[2]])
print("\nFifth row:")
print(ds.iloc[[4]])
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32]})

print("Original DataFrame with single index:")
print(df)
print("\nPrint specified row from the said DataFrame using location based indexing:")
print("\nThird row:")
print(df.iloc[[2]])
print("\nFifth row:")
print(df.iloc[[4]])

Original Series:
0     1
1     3
2     5
3     7
4     9
5    11
7    13
8    15
dtype: int64

Print specified row from the said series using location based indexing:

Third row:
2    5
dtype: int64

Fifth row:
4    9
dtype: int64
Original DataFrame with single index:
  school_code class            name date_of_birth  weight
0        s001     V  Alberto Franco    15/05/2002      35
1        s002     V    Gino Mcneill    17/05/2002      32
2        s003    VI     Ryan Parkes    16/02/1999      33
3        s001    VI    Eesha Hinton    25/09/1998      30
4        s002     V    Gino Mcneill    11/05/2002      31
5        s004    VI    David Parkes    15/09/1997      32

Print specified row from the said DataFrame using location based indexing:

Third row:
  school_code class         name date_of_birth  weight
2        s003    VI  Ryan Parkes    16/02/1999      33

Fifth row:
  school_code class          name date_of_birth  weight
4        s002     V  Gino Mcneill    11/05/2002      31

20. Write a Pandas program to find the indexes of rows of a specified value of a given column in a DataFrame.

In [26]:
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32]},
     index =  [1, 2, 3, 4, 5, 6])
print("Original DataFrame with single index:")
print(df)
print("\nIndex of rows where specified column matches certain value:")
print(df.index[df['school_code']=='s001'].tolist())

Original DataFrame with single index:
  school_code class            name date_of_birth  weight
1        s001     V  Alberto Franco    15/05/2002      35
2        s002     V    Gino Mcneill    17/05/2002      32
3        s003    VI     Ryan Parkes    16/02/1999      33
4        s001    VI    Eesha Hinton    25/09/1998      30
5        s002     V    Gino Mcneill    11/05/2002      31
6        s004    VI    David Parkes    15/09/1997      32

Index of rows where specified column matches certain value:
[1, 4]

21. Write a Pandas program to drop a index level from a multi-level column index of a dataframe.

In [27]:
cols = pd.MultiIndex.from_tuples([("a", "x"), ("a", "y"), ("a", "z")])
print("\nConstruct a Dataframe using the said MultiIndex levels: ")
df = pd.DataFrame([[1,2,3], [3,4,5], [5,6,7]], columns=cols)
print(df)
#Levels are 0-indexed beginning from the top.
print("\nRemove the top level index:")
df.columns = df.columns.droplevel(0)
print(df)
df = pd.DataFrame([[1,2,3], [3,4,5], [5,6,7]], columns=cols)
print("\nOriginal dataframe:")
print(df)
print("\nRemove the index next to top level:")
df.columns = df.columns.droplevel(1)
print(df)

Construct a Dataframe using the said MultiIndex levels:
   a
   x  y  z
0  1  2  3
1  3  4  5
2  5  6  7

Remove the top level index:
   x  y  z
0  1  2  3
1  3  4  5
2  5  6  7

Original dataframe:
   a
   x  y  z
0  1  2  3
1  3  4  5
2  5  6  7

Remove the index next to top level:
   a  a  a
0  1  2  3
1  3  4  5
2  5  6  7

22. Write a Pandas program to insert a column at a specific index in a given DataFrame

In [28]:
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'weight': [35, 32, 33, 30, 31, 32]},
     index =  [1, 2, 3, 4, 5, 6])
print("Original DataFrame with single index:")
print(df)
date_of_birth = ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997']  
idx = 3
print("\nInsert 'date_of_birth' column in 3rd position of the said DataFrame:")
df.insert(loc=idx, column='date_of_birth', value=date_of_birth)
print(df)

Original DataFrame with single index:
  school_code class            name  weight
1        s001     V  Alberto Franco      35
2        s002     V    Gino Mcneill      32
3        s003    VI     Ryan Parkes      33
4        s001    VI    Eesha Hinton      30
5        s002     V    Gino Mcneill      31
6        s004    VI    David Parkes      32

Insert 'date_of_birth' column in 3rd position of the said DataFrame:
  school_code class            name date_of_birth  weight
1        s001     V  Alberto Franco    15/05/2002      35
2        s002     V    Gino Mcneill    17/05/2002      32
3        s003    VI     Ryan Parkes    16/02/1999      33
4        s001    VI    Eesha Hinton    25/09/1998      30
5        s002     V    Gino Mcneill    11/05/2002      31
6        s004    VI    David Parkes    15/09/1997      32

23. Write a Pandas program to print a DataFrame without index.

In [29]:
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32]},
     index =  [1, 2, 3, 4, 5, 6])
print("Original DataFrame with single index:")
print(df)
print("\nDataFrame without index:")
print(df.to_string(index=False))

Original DataFrame with single index:
  school_code class            name date_of_birth  weight
1        s001     V  Alberto Franco    15/05/2002      35
2        s002     V    Gino Mcneill    17/05/2002      32
3        s003    VI     Ryan Parkes    16/02/1999      33
4        s001    VI    Eesha Hinton    25/09/1998      30
5        s002     V    Gino Mcneill    11/05/2002      31
6        s004    VI    David Parkes    15/09/1997      32

DataFrame without index:
school_code class           name date_of_birth  weight
       s001     V Alberto Franco    15/05/2002      35
       s002     V   Gino Mcneill    17/05/2002      32
       s003    VI    Ryan Parkes    16/02/1999      33
       s001    VI   Eesha Hinton    25/09/1998      30
       s002     V   Gino Mcneill    11/05/2002      31
       s004    VI   David Parkes    15/09/1997      32

24. Write a Pandas program to find integer index of rows with missing data in a given dataframe.

In [30]:
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, None, 33, 30, 31, None]},
     index = ['t1', 't2', 't3', 't4', 't5', 't6'])
print("Original DataFrame:")
print(df)
index = df['weight'].index[df['weight'].apply(np.isnan)]
df_index = df.index.values.tolist()
print("\nInteger index of rows with missing data in 'weight' column of the said dataframe:")
print([df_index.index(i) for i in index])

Original DataFrame:
   school_code class            name date_of_birth  weight
t1        s001     V  Alberto Franco    15/05/2002    35.0
t2        s002     V    Gino Mcneill    17/05/2002     NaN
t3        s003    VI     Ryan Parkes    16/02/1999    33.0
t4        s001    VI    Eesha Hinton    25/09/1998    30.0
t5        s002     V    Gino Mcneill    11/05/2002    31.0
t6        s004    VI    David Parkes    15/09/1997     NaN

Integer index of rows with missing data in 'weight' column of the said dataframe:
[1, 5]

25. Write a Pandas program to start index with different value rather than 0 in a given DataFrame.

In [31]:
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 37, 33, 30, 31, 32]})
     
print("Original DataFrame:")
print(df)
print("\nDefault Index Range:")
print(df.index)
df.index += 10 
print("\nNew Index Range:")
print(df.index)
print("\nDataFrame with new index:")
print(df)

Original DataFrame:
  school_code class            name date_of_birth  weight
0        s001     V  Alberto Franco    15/05/2002      35
1        s002     V    Gino Mcneill    17/05/2002      37
2        s003    VI     Ryan Parkes    16/02/1999      33
3        s001    VI    Eesha Hinton    25/09/1998      30
4        s002     V    Gino Mcneill    11/05/2002      31
5        s004    VI    David Parkes    15/09/1997      32

Default Index Range:
RangeIndex(start=0, stop=6, step=1)

New Index Range:
RangeIndex(start=10, stop=16, step=1)

DataFrame with new index:
   school_code class            name date_of_birth  weight
10        s001     V  Alberto Franco    15/05/2002      35
11        s002     V    Gino Mcneill    17/05/2002      37
12        s003    VI     Ryan Parkes    16/02/1999      33
13        s001    VI    Eesha Hinton    25/09/1998      30
14        s002     V    Gino Mcneill    11/05/2002      31
15        s004    VI    David Parkes    15/09/1997      32

26. Write a Pandas program to select rows by filtering on one or more column(s) in a multi-index dataframe.

In [32]:
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 37, 33, 30, 31, 32],
    'tcode': ['t1', 't2', 't3', 't4', 't5', 't6']})    
print("Original DataFrame:")
print(df)
print("\nCreate MultiIndex on 'tcode' and 'school_code':")
df = df.set_index(['tcode', 'school_code'])
print(df)
print("\nSelect rows(s) from 'tcode' column:")
print(df.query("tcode == 't2'"))
print("\nSelect rows(s) from 'school_code' column:")
print(df.query("school_code == 's001'"))
print("\nSelect rows(s) from 'tcode' and 'scode' columns:")
print(df.query(("tcode == 't1'") and ("school_code == 's001'")))

Original DataFrame:
  school_code class            name date_of_birth  weight tcode
0        s001     V  Alberto Franco    15/05/2002      35    t1
1        s002     V    Gino Mcneill    17/05/2002      37    t2
2        s003    VI     Ryan Parkes    16/02/1999      33    t3
3        s001    VI    Eesha Hinton    25/09/1998      30    t4
4        s002     V    Gino Mcneill    11/05/2002      31    t5
5        s004    VI    David Parkes    15/09/1997      32    t6

Create MultiIndex on 'tcode' and 'school_code':
                  class            name date_of_birth  weight
tcode school_code
t1    s001            V  Alberto Franco    15/05/2002      35
t2    s002            V    Gino Mcneill    17/05/2002      37
t3    s003           VI     Ryan Parkes    16/02/1999      33
t4    s001           VI    Eesha Hinton    25/09/1998      30
t5    s002            V    Gino Mcneill    11/05/2002      31
t6    s004           VI    David Parkes    15/09/1997      32

Select rows(s) from 'tcode' column:
                  class          name date_of_birth  weight
tcode school_code
t2    s002            V  Gino Mcneill    17/05/2002      37

Select rows(s) from 'school_code' column:
                  class            name date_of_birth  weight
tcode school_code
t1    s001            V  Alberto Franco    15/05/2002      35
t4    s001           VI    Eesha Hinton    25/09/1998      30

Select rows(s) from 'tcode' and 'scode' columns:
                  class            name date_of_birth  weight
tcode school_code
t1    s001            V  Alberto Franco    15/05/2002      35
t4    s001           VI    Eesha Hinton    25/09/1998      30