1. Write a Pandas program to display the dimensions or shape of the World alcohol consumption dataset. Also extract the column names from the dataset.

In [5]:
import pandas as pd
# World alcohol consumption data
w_a_con = pd.read_csv('world_alcohol.csv', delimiter=',')
print("World alcohol consumption sample data:")
print(w_a_con.head())
print('\nShape of the dataframe: ',w_a_con.shape)
print('\nNumber of rows: ',w_a_con.shape[0])
print('\nNumber of column: ',w_a_con.shape[1])
print("\nExtract Column Names:")
print(w_a_con.columns)

World alcohol consumption sample data:
   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

Shape of the dataframe:  (100, 5)

Number of rows:  100

Number of column:  5

Extract Column Names:
Index(['Year', 'WHO region', 'Country', 'Beverage Types', 'Display Value'], dtype='object')

2. Write a Pandas program to select first 2 rows, 2 columns and specific two columns from World alcohol consumption dataset.

In [8]:
print("\nSelect first 2 rows:")
print(w_a_con.iloc[:2])
print("\nSelect first 2 columns:")
print(w_a_con.iloc[:,:2].head())
print("\nSelect 2 specific columns:")
print(w_a_con[['Display Value', 'Year']])

Select first 2 rows:
   Year       WHO region   Country Beverage Types  Display Value
0  1986  Western Pacific  Viet Nam           Wine            0.0
1  1986         Americas   Uruguay          Other            0.5

Select first 2 columns:
   Year       WHO region
0  1986  Western Pacific
1  1986         Americas
2  1985           Africa
3  1986         Americas
4  1987         Americas

Select 2 specific columns:
    Display Value  Year
0            0.00  1986
1            0.50  1986
2            1.62  1985
3            4.27  1986
4            1.98  1987
..            ...   ...
95           0.00  1984
96           7.38  1985
97           0.00  1984
98           0.00  1984
99           0.00  1985

[100 rows x 2 columns]

3. Write a Pandas program to select random number of rows, fraction of random rows from World alcohol consumption dataset.

In [9]:
print("\nSelect random number of rows:")
print(w_a_con.sample(5))
print("\nSelect fraction of randome rows:")
print(w_a_con.sample(frac=0.02))

Select random number of rows:
    Year WHO region     Country Beverage Types  Display Value
67  1989     Africa     Namibia           Beer           0.00
3   1986   Americas    Colombia           Beer           4.27
24  1985     Africa     Comoros          Other            NaN
62  1987   Americas    Suriname          Other           0.00
17  1989     Africa  Seychelles           Beer           2.23

Select fraction of randome rows:
    Year             WHO region      Country Beverage Types  Display Value
13  1984  Eastern Mediterranean  Afghanistan          Other           0.00
16  1984               Americas   Costa Rica           Wine           0.06

4. Write a Pandas program to find and drop the missing values from World alcohol consumption dataset.

In [10]:
print("\nMissing values:")
print(w_a_con.isnull())
print("\nDropping the missing values:")
print(w_a_con.dropna())

Missing values:
     Year  WHO region  Country  Beverage Types  Display Value
0   False       False    False           False          False
1   False       False    False           False          False
2   False       False    False           False          False
3   False       False    False           False          False
4   False       False    False           False          False
..    ...         ...      ...             ...            ...
95  False       False    False           False          False
96  False       False    False           False          False
97  False       False    False           False          False
98  False       False    False           False          False
99  False       False    False           False          False

[100 rows x 5 columns]

Dropping the missing values:
    Year       WHO region                                Country  \
0   1986  Western Pacific                               Viet Nam
1   1986         Americas                                Uruguay
2   1985           Africa                           Cte d'Ivoire
3   1986         Americas                               Colombia
4   1987         Americas                  Saint Kitts and Nevis
..   ...              ...                                    ...
95  1984           Africa                                  Niger
96  1985           Europe                             Luxembourg
97  1984  South-East Asia                              Indonesia
98  1984           Africa                      Equatorial Guinea
99  1985  South-East Asia  Democratic People's Republic of Korea

   Beverage Types  Display Value
0            Wine           0.00
1           Other           0.50
2            Wine           1.62
3            Beer           4.27
4            Beer           1.98
..            ...            ...
95          Other           0.00
96           Wine           7.38
97           Wine           0.00
98           Wine           0.00
99           Wine           0.00

[95 rows x 5 columns]

5. Write a Pandas program to remove the duplicates from 'WHO region' column of World alcohol consumption dataset.

In [11]:
print("\nAfter removing the duplicates of WHO region column:")
print(w_a_con.drop_duplicates('WHO region'))

After removing the duplicates of WHO region column:
    Year             WHO region       Country Beverage Types  Display Value
0   1986        Western Pacific      Viet Nam           Wine           0.00
1   1986               Americas       Uruguay          Other           0.50
2   1985                 Africa  Cte d'Ivoire           Wine           1.62
13  1984  Eastern Mediterranean   Afghanistan          Other           0.00
18  1984                 Europe        Norway        Spirits           1.62
20  1986        South-East Asia       Myanmar           Wine           0.00

6. Write a Pandas program to find out the alcohol consumption of a given year from the world alcohol consumption dataset.

In [12]:
print("\nThe world alcohol consumption details in the year 1985:")
print(w_a_con[w_a_con['Year']==1985].head(10))
print("\nThe world alcohol consumption details in the year 1989:")
print(w_a_con[w_a_con['Year']==1989].head(10))

The world alcohol consumption details in the year 1985:
    Year       WHO region                                            Country  \
2   1985           Africa                                       Cte d'Ivoire
7   1985           Africa                                             Angola
12  1985  Western Pacific                   Lao People's Democratic Republic
14  1985  Western Pacific                                           Viet Nam
24  1985           Africa                                            Comoros
26  1985           Europe  United Kingdom of Great Britain and Northern I...
33  1985           Africa                                         Mauritania
35  1985         Americas                              Saint Kitts and Nevis
44  1985           Europe                                          Lithuania
50  1985           Europe                                        Switzerland

   Beverage Types  Display Value
2            Wine           1.62
7         Spirits           0.39
12           Beer           0.00
14        Spirits           0.05
24          Other            NaN
26           Wine           1.36
33          Other           0.00
35        Spirits           2.24
44          Other            NaN
50          Other           0.30

The world alcohol consumption details in the year 1989:
    Year             WHO region                           Country  \
11  1989               Americas                         Guatemala
17  1989                 Africa                        Seychelles
21  1989               Americas                        Costa Rica
32  1989                 Africa                         Mauritius
45  1989                 Africa                          Zimbabwe
55  1989               Americas                          Suriname
57  1989                 Europe                           Croatia
59  1989  Eastern Mediterranean              Syrian Arab Republic
64  1989               Americas  Bolivia (Plurinational State of)
65  1989  Eastern Mediterranean                           Somalia

   Beverage Types  Display Value
11           Beer           0.62
17           Beer           2.23
21        Spirits           4.51
32           Beer           1.60
45           Beer           0.19
55           Wine           0.04
57           Wine           5.10
59          Other           0.00
64           Beer           1.26
65           Beer           0.00

7. Write a Pandas program to find out the alcohol consumption details in the year '1987' or '1989' from the world alcohol consumption dataset.

In [13]:
print("World alcohol consumption sample data:")
print(w_a_con.head())
print("\nThe world alcohol consumption details where year is 1987 or 1989:")
print((w_a_con[(w_a_con['Year']==1987) | (w_a_con['Year']==1989)]).head(10))

World alcohol consumption sample data:
   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

The world alcohol consumption details where year is 1987 or 1989:
    Year       WHO region                Country Beverage Types  Display Value
4   1987         Americas  Saint Kitts and Nevis           Beer           1.98
5   1987         Americas              Guatemala          Other           0.00
6   1987           Africa              Mauritius           Wine           0.13
10  1987           Africa               Botswana           Wine           0.20
11  1989         Americas              Guatemala           Beer           0.62
15  1987           Africa          Guinea-Bissau           Wine           0.07
17  1989           Africa             Seychelles           Beer           2.23
21  1989         Americas             Costa Rica        Spirits           4.51
28  1987  Western Pacific               Viet Nam           Beer           0.11
32  1989           Africa              Mauritius           Beer           1.60

8. Write a Pandas program to find out the alcohol consumption details by the 'Americas' in the year '1985' from the world alcohol consumption dataset.

In [14]:
print("\nThe world alcohol consumption details by the Americas in the 1985:")
print(w_a_con[(w_a_con['Year']==1989) & (w_a_con['WHO region']=='Americas')].head(10))

The world alcohol consumption details by the Americas in the 1985:
    Year WHO region                           Country Beverage Types  \
11  1989   Americas                         Guatemala           Beer
21  1989   Americas                        Costa Rica        Spirits
55  1989   Americas                          Suriname           Wine
64  1989   Americas  Bolivia (Plurinational State of)           Beer
78  1989   Americas                           Jamaica          Other

    Display Value
11           0.62
21           4.51
55           0.04
64           1.26
78           0.00

9. Write a Pandas program to find out the alcohol consumption details in the year '1986' where WHO region is 'Western Pacific' and country is 'VietNam' from the world alcohol consumption dataset.

In [15]:
print("\nThe world alcohol consumption details in the year 1986 where WHO region is Western Pacific and country is VietNam :")
print(w_a_con[(w_a_con['Year']==1986) & (w_a_con['WHO region']=='Western Pacific') & (w_a_con['Country']=='Viet Nam')])

The world alcohol consumption details in the year 1986 where WHO region is Western Pacific and country is VietNam :
   Year       WHO region   Country Beverage Types  Display Value
0  1986  Western Pacific  Viet Nam           Wine            0.0

10. Write a Pandas program to find out the alcohol consumption details in the year '1986' or '1989' where WHO region is 'Americas' from the world alcohol consumption dataset.

In [16]:
print("\nThe world alcohol consumption details in the year '1986' or '1989' where  WHO region is 'Americas' :")
print(w_a_con[((w_a_con['Year']==1986) | (w_a_con['Year']==1989))  & (w_a_con['WHO region']=='Americas')].head(10))

The world alcohol consumption details in the year '1986' or '1989' where  WHO region is 'Americas' :
    Year WHO region                           Country Beverage Types  \
1   1986   Americas                           Uruguay          Other
3   1986   Americas                          Colombia           Beer
8   1986   Americas               Antigua and Barbuda        Spirits
11  1989   Americas                         Guatemala           Beer
21  1989   Americas                        Costa Rica        Spirits
47  1986   Americas                            Mexico          Other
55  1989   Americas                          Suriname           Wine
64  1989   Americas  Bolivia (Plurinational State of)           Beer
74  1986   Americas  Bolivia (Plurinational State of)        Spirits
78  1989   Americas                           Jamaica          Other

    Display Value
1            0.50
3            4.27
8            1.55
11           0.62
21           4.51
47           0.04
55           0.04
64           1.26
74           2.06
78           0.00

11. Write a Pandas program to find out the alcohol consumption details in the year '1986' or '1989' where WHO region is 'Americas' or 'Europe' from the world alcohol consumption dataset.

In [17]:
print("\nThe world alcohol consumption details in the year ‘1986’ or ‘1989’ where  WHO region is ‘Americas’  or 'Europe':")
print(w_a_con[((w_a_con['Year']==1985) | (w_a_con['Year']==1989)) & ((w_a_con['WHO region']=='Americas') | (w_a_con['WHO region']=='Europe'))].head(10))

The world alcohol consumption details in the year ‘1986’ or ‘1989’ where  WHO region is ‘Americas’  or 'Europe':
    Year WHO region                                            Country  \
11  1989   Americas                                          Guatemala
21  1989   Americas                                         Costa Rica
26  1985     Europe  United Kingdom of Great Britain and Northern I...
35  1985   Americas                              Saint Kitts and Nevis
44  1985     Europe                                          Lithuania
50  1985     Europe                                        Switzerland
55  1989   Americas                                           Suriname
57  1989     Europe                                            Croatia
64  1989   Americas                   Bolivia (Plurinational State of)
78  1989   Americas                                            Jamaica

   Beverage Types  Display Value
11           Beer           0.62
21        Spirits           4.51
26           Wine           1.36
35        Spirits           2.24
44          Other            NaN
50          Other           0.30
55           Wine           0.04
57           Wine           5.10
64           Beer           1.26
78          Other           0.00

12. Write a Pandas program to find out the 'WHO region, 'Country', 'Beverage Types' in the year '1986' or '1989' where WHO region is 'Americas' or 'Europe' from the world alcohol consumption dataset.

In [18]:
print("\nThe world alcohol consumption details ('WHO region','Country','Beverage Types') \nin the year ‘1986’ or ‘1989’ where  WHO region is ‘Americas’  or 'Europe':")
print(w_a_con[((w_a_con['Year']==1985) | (w_a_con['Year']==1989)) & ((w_a_con['WHO region']=='Americas') | (w_a_con['WHO region']=='Europe'))][['WHO region','Country','Beverage Types']].head(10))

The world alcohol consumption details ('WHO region','Country','Beverage Types')
in the year ‘1986’ or ‘1989’ where  WHO region is ‘Americas’  or 'Europe':
   WHO region                                            Country  \
11   Americas                                          Guatemala
21   Americas                                         Costa Rica
26     Europe  United Kingdom of Great Britain and Northern I...
35   Americas                              Saint Kitts and Nevis
44     Europe                                          Lithuania
50     Europe                                        Switzerland
55   Americas                                           Suriname
57     Europe                                            Croatia
64   Americas                   Bolivia (Plurinational State of)
78   Americas                                            Jamaica

   Beverage Types
11           Beer
21        Spirits
26           Wine
35        Spirits
44          Other
50          Other
55           Wine
57           Wine
64           Beer
78          Other

13. Write a Pandas program to find out the records where consumption of beverages per person average >=5 and Beverage Types is Beer from world alcohol consumption dataset.

In [19]:
print("\nThe world alcohol consumption details: average consumption of \nbeverages per person >=5 and Beverage Types is Beer:")
print(w_a_con[(w_a_con['Display Value'] >= 5) & (w_a_con['Beverage Types'] == 'Beer')].head(10))

The world alcohol consumption details: average consumption of
beverages per person >=5 and Beverage Types is Beer:
    Year WHO region         Country Beverage Types  Display Value
41  1986     Europe  Czech Republic           Beer           6.82

14. Write a Pandas program to find out the records where consumption of beverages per person average >=4 and Beverage Types is Beer, Wine, Spirits from world alcohol consumption dataset.

In [20]:
print("\nThe world alcohol consumption details: average consumption of \nbeverages per person >=4 and Beverage Types is Beer:")
print(w_a_con[(w_a_con['Display Value'] >= 4) & ((w_a_con['Beverage Types'] == 'Beer') | (w_a_con['Beverage Types'] == 'Wine') | (w_a_con['Beverage Types'] == 'Spirits'))].head(10))

The world alcohol consumption details: average consumption of
beverages per person >=4 and Beverage Types is Beer:
    Year WHO region         Country Beverage Types  Display Value
3   1986   Americas        Colombia           Beer           4.27
21  1989   Americas      Costa Rica        Spirits           4.51
41  1986     Europe  Czech Republic           Beer           6.82
57  1989     Europe         Croatia           Wine           5.10
91  1989     Europe        Bulgaria           Beer           4.43
96  1985     Europe      Luxembourg           Wine           7.38

15. Write a Pandas program to filter the specified columns and records by range from world alcohol consumption dataset.

In [21]:
print("\nFiltering records by label or index:")
print(w_a_con.loc[0:4, ["WHO region", "Beverage Types"]])

Filtering records by label or index:
        WHO region Beverage Types
0  Western Pacific           Wine
1         Americas          Other
2           Africa           Wine
3         Americas           Beer
4         Americas           Beer

16. Write a Pandas program to filter those records where WHO region contains "Ea" substring from world alcohol consumption dataset.

In [23]:
# Remove NA / NaN values
new_w_a_con = w_a_con.dropna()
print("\nMatch if  a given column has a particular sub string:")
print(new_w_a_con[new_w_a_con["WHO region"].str.contains("Ea")])

Match if  a given column has a particular sub string:
    Year             WHO region                                Country  \
13  1984  Eastern Mediterranean                            Afghanistan
20  1986        South-East Asia                                Myanmar
25  1984  Eastern Mediterranean                                Tunisia
27  1984  Eastern Mediterranean                                Bahrain
36  1987  Eastern Mediterranean                                  Egypt
38  1987  Eastern Mediterranean                                  Qatar
52  1986  Eastern Mediterranean                           Saudi Arabia
53  1984  Eastern Mediterranean                                 Kuwait
58  1984  Eastern Mediterranean                                Somalia
59  1989  Eastern Mediterranean                   Syrian Arab Republic
60  1987  Eastern Mediterranean             Iran (Islamic Republic of)
63  1985  Eastern Mediterranean                                  Libya
65  1989  Eastern Mediterranean                                Somalia
66  1987  Eastern Mediterranean                                   Iraq
73  1986  Eastern Mediterranean                               Pakistan
75  1989  Eastern Mediterranean                            Afghanistan
84  1986        South-East Asia                              Sri Lanka
87  1989  Eastern Mediterranean                                   Iraq
88  1987  Eastern Mediterranean                                Lebanon
89  1986  Eastern Mediterranean                                Lebanon
97  1984        South-East Asia                              Indonesia
99  1985        South-East Asia  Democratic People's Republic of Korea

   Beverage Types  Display Value
13          Other           0.00
20           Wine           0.00
25          Other           0.00
27           Beer           2.22
36           Beer           0.07
38          Other           0.00
52           Wine           0.00
53           Beer           0.00
58        Spirits           0.00
59          Other           0.00
60          Other           0.00
63          Other           0.00
65           Beer           0.00
66           Wine           0.01
73          Other           0.01
75          Other           0.00
84          Other           0.00
87           Wine           0.01
88           Beer           0.42
89           Wine           0.70
97           Wine           0.00
99           Wine           0.00

17. Write a Pandas program to filter those records where WHO region matches with multiple values (Africa, Eastern Mediterranean, Europe) from world alcohol consumption dataset.

In [24]:
print("\nFilter by matching multiple values in a given dataframe:")
flt_wine = new_w_a_con["WHO region"].isin(["Africa", "Eastern Mediterranean", "Europe"])
print(new_w_a_con[flt_wine])

Filter by matching multiple values in a given dataframe:
    Year WHO region            Country Beverage Types  Display Value
2   1985     Africa       Cte d'Ivoire           Wine           1.62
6   1987     Africa          Mauritius           Wine           0.13
7   1985     Africa             Angola        Spirits           0.39
9   1984     Africa            Nigeria          Other           6.10
10  1987     Africa           Botswana           Wine           0.20
..   ...        ...                ...            ...            ...
92  1986     Africa            Eritrea        Spirits           0.00
94  1985     Europe            Ukraine        Spirits           3.06
95  1984     Africa              Niger          Other           0.00
96  1985     Europe         Luxembourg           Wine           7.38
98  1984     Africa  Equatorial Guinea           Wine           0.00

[64 rows x 5 columns]

18. Write a Pandas program to filter those records which not appears in a given list from world alcohol consumption dataset.

In [25]:
print("\nSelect all rows which not appears in a given list:")
who_region = ["Africa", "Eastern Mediterranean", "Europe"]
flt_wine = ~new_w_a_con["WHO region"].isin(who_region)
print(new_w_a_con[flt_wine])

Select all rows which not appears in a given list:
    Year       WHO region                                Country  \
0   1986  Western Pacific                               Viet Nam
1   1986         Americas                                Uruguay
3   1986         Americas                               Colombia
4   1987         Americas                  Saint Kitts and Nevis
5   1987         Americas                              Guatemala
8   1986         Americas                    Antigua and Barbuda
11  1989         Americas                              Guatemala
12  1985  Western Pacific       Lao People's Democratic Republic
14  1985  Western Pacific                               Viet Nam
16  1984         Americas                             Costa Rica
20  1986  South-East Asia                                Myanmar
21  1989         Americas                             Costa Rica
28  1987  Western Pacific                               Viet Nam
31  1986  Western Pacific       Micronesia (Federated States of)
35  1985         Americas                  Saint Kitts and Nevis
43  1984  Western Pacific                                  China
46  1987         Americas                    Trinidad and Tobago
47  1986         Americas                                 Mexico
48  1987         Americas                              Nicaragua
54  1984         Americas                            El Salvador
55  1989         Americas                               Suriname
56  1987  Western Pacific                               Viet Nam
61  1984  Western Pacific                       Papua New Guinea
62  1987         Americas                               Suriname
64  1989         Americas       Bolivia (Plurinational State of)
74  1986         Americas       Bolivia (Plurinational State of)
78  1989         Americas                                Jamaica
84  1986  South-East Asia                              Sri Lanka
86  1986         Americas                                Bahamas
97  1984  South-East Asia                              Indonesia
99  1985  South-East Asia  Democratic People's Republic of Korea

   Beverage Types  Display Value
0            Wine           0.00
1           Other           0.50
3            Beer           4.27
4            Beer           1.98
5           Other           0.00
8         Spirits           1.55
11           Beer           0.62
12           Beer           0.00
14        Spirits           0.05
16           Wine           0.06
20           Wine           0.00
21        Spirits           4.51
28           Beer           0.11
31           Wine           0.00
35        Spirits           2.24
43           Wine           0.03
46        Spirits           2.26
47          Other           0.04
48           Beer           0.70
54        Spirits           1.81
55           Wine           0.04
56           Wine           0.00
61        Spirits           0.08
62          Other           0.00
64           Beer           1.26
74        Spirits           2.06
78          Other           0.00
84          Other           0.00
86           Wine           1.83
97           Wine           0.00
99           Wine           0.00

19. Write a Pandas program to filter all records where the average consumption of beverages per person from .5 to 2.50 in world alcohol consumption dataset.

In [26]:
print("\nFilter all records where the average consumption of beverages per person from .5 to 2.50.:")
print(w_a_con[(w_a_con['Display Value'] < 2.5) & (w_a_con['Display Value']>.5)].head())

Filter all records where the average consumption of beverages per person from .5 to 2.50.:
    Year WHO region                Country Beverage Types  Display Value
2   1985     Africa           Cte d'Ivoire           Wine           1.62
4   1987   Americas  Saint Kitts and Nevis           Beer           1.98
8   1986   Americas    Antigua and Barbuda        Spirits           1.55
11  1989   Americas              Guatemala           Beer           0.62
17  1989     Africa             Seychelles           Beer           2.23

20. Write a Pandas program to find average consumption of wine per person greater than 2 in world alcohol consumption dataset.

In [27]:
print("\nAverage consumption of wine per person greater than 2:")
print(w_a_con[(w_a_con['Beverage Types'] == 'Wine') & (w_a_con['Display Value'] > .2)].count())

Average consumption of wine per person greater than 2:
Year              9
WHO region        9
Country           9
Beverage Types    9
Display Value     9
dtype: int64

21. Write a Pandas program to filter rows based on row numbers ended with 0, like 0, 10, 20, 30 from world alcohol consumption dataset

In [28]:
print("\nFilter rows based on row numbers ended with 0, like 0, 10, 20, 30:")
print(w_a_con.filter(regex='0$', axis=0))

Filter rows based on row numbers ended with 0, like 0, 10, 20, 30:
    Year             WHO region                     Country Beverage Types  \
0   1986        Western Pacific                    Viet Nam           Wine
10  1987                 Africa                    Botswana           Wine
20  1986        South-East Asia                     Myanmar           Wine
30  1986                 Africa                Sierra Leone          Other
40  1987                 Europe                     Austria        Spirits
50  1985                 Europe                 Switzerland          Other
60  1987  Eastern Mediterranean  Iran (Islamic Republic of)          Other
70  1986                 Africa                  Madagascar        Spirits
80  1985                 Africa                      Malawi          Other
90  1989                 Africa                      Malawi           Wine

    Display Value
0            0.00
10           0.20
20           0.00
30           4.48
40           1.90
50           0.30
60           0.00
70           1.02
80           0.84
90           0.01

22. Write a Pandas program to select consecutive columns and also select rows with Index label 0 to 9 with some columns from world alcohol consumption dataset.

In [29]:
print("\nSelect consecutive columns:")
print(w_a_con.loc[:,"Country":"Display Value"].head())
print("\nAlternate command:")
print(w_a_con.iloc[:,2:5].head())
print("\nSelect rows with Index label 0 to 9 with specific columns:")
print(w_a_con.loc[0:9,["Year","Country","Display Value"]])

Select consecutive columns:
                 Country Beverage Types  Display Value
0               Viet Nam           Wine           0.00
1                Uruguay          Other           0.50
2           Cte d'Ivoire           Wine           1.62
3               Colombia           Beer           4.27
4  Saint Kitts and Nevis           Beer           1.98

Alternate command:
                 Country Beverage Types  Display Value
0               Viet Nam           Wine           0.00
1                Uruguay          Other           0.50
2           Cte d'Ivoire           Wine           1.62
3               Colombia           Beer           4.27
4  Saint Kitts and Nevis           Beer           1.98

Select rows with Index label 0 to 9 with specific columns:
   Year                Country  Display Value
0  1986               Viet Nam           0.00
1  1986                Uruguay           0.50
2  1985           Cte d'Ivoire           1.62
3  1986               Colombia           4.27
4  1987  Saint Kitts and Nevis           1.98
5  1987              Guatemala           0.00
6  1987              Mauritius           0.13
7  1985                 Angola           0.39
8  1986    Antigua and Barbuda           1.55
9  1984                Nigeria           6.10

23. Write a Pandas program to rename all and only some of the column names from world alcohol consumption dataset.

In [30]:
w_a_con = pd.read_csv('world_alcohol.csv')
new_w_a_con = pd.read_csv('world_alcohol.csv')
print("World alcohol consumption sample data:")
print(w_a_con.head())
print("\nRename all the column names:")
w_a_con.columns = ['year','who_region','country','beverage_types','display_values']
print(w_a_con.head())
print("\nRenaming only some of the column names:")
new_w_a_con.rename(columns = {"WHO region":"WHO_region","Display Value":"Display_Value" },inplace = True)
print(new_w_a_con.head())

World alcohol consumption sample data:
   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

Rename all the column names:
   year       who_region                country beverage_types  display_values
0  1986  Western Pacific               Viet Nam           Wine            0.00
1  1986         Americas                Uruguay          Other            0.50
2  1985           Africa           Cte d'Ivoire           Wine            1.62
3  1986         Americas               Colombia           Beer            4.27
4  1987         Americas  Saint Kitts and Nevis           Beer            1.98

Renaming only some of the column names:
   Year       WHO_region                Country Beverage Types  Display_Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

24. Write a Pandas program to find which years have all non-zero values and which years have any non-zero values from world alcohol consumption dataset.

In [31]:
print("\nFind which years have all non-zero values:")
print(w_a_con.loc[:,w_a_con.all()])
print("\nFind which years have any non-zero values:")
print(w_a_con.loc[:,w_a_con.any()])

Find which years have all non-zero values:
    year       who_region                                country  \
0   1986  Western Pacific                               Viet Nam
1   1986         Americas                                Uruguay
2   1985           Africa                           Cte d'Ivoire
3   1986         Americas                               Colombia
4   1987         Americas                  Saint Kitts and Nevis
..   ...              ...                                    ...
95  1984           Africa                                  Niger
96  1985           Europe                             Luxembourg
97  1984  South-East Asia                              Indonesia
98  1984           Africa                      Equatorial Guinea
99  1985  South-East Asia  Democratic People's Republic of Korea

   beverage_types
0            Wine
1           Other
2            Wine
3            Beer
4            Beer
..            ...
95          Other
96           Wine
97           Wine
98           Wine
99           Wine

[100 rows x 4 columns]

Find which years have any non-zero values:
    year       who_region                                country  \
0   1986  Western Pacific                               Viet Nam
1   1986         Americas                                Uruguay
2   1985           Africa                           Cte d'Ivoire
3   1986         Americas                               Colombia
4   1987         Americas                  Saint Kitts and Nevis
..   ...              ...                                    ...
95  1984           Africa                                  Niger
96  1985           Europe                             Luxembourg
97  1984  South-East Asia                              Indonesia
98  1984           Africa                      Equatorial Guinea
99  1985  South-East Asia  Democratic People's Republic of Korea

   beverage_types  display_values
0            Wine            0.00
1           Other            0.50
2            Wine            1.62
3            Beer            4.27
4            Beer            1.98
..            ...             ...
95          Other            0.00
96           Wine            7.38
97           Wine            0.00
98           Wine            0.00
99           Wine            0.00

[100 rows x 5 columns]

25. Write a Pandas program to filter all columns where all entries present, check which rows and columns has a NaN and finally drop rows with any NaNs from world alcohol consumption dataset.

In [32]:
print("\nFind  all columns which all entries present:")
print(w_a_con.loc[:, w_a_con.notnull().all()])
print("\nRows and columns has a NaN:")
print(w_a_con.loc[:,w_a_con.isnull().any()])
print("\nDrop rows with any NaNs:")
print(w_a_con.dropna(how='any'))

Find  all columns which all entries present:
    year       who_region                                country  \
0   1986  Western Pacific                               Viet Nam
1   1986         Americas                                Uruguay
2   1985           Africa                           Cte d'Ivoire
3   1986         Americas                               Colombia
4   1987         Americas                  Saint Kitts and Nevis
..   ...              ...                                    ...
95  1984           Africa                                  Niger
96  1985           Europe                             Luxembourg
97  1984  South-East Asia                              Indonesia
98  1984           Africa                      Equatorial Guinea
99  1985  South-East Asia  Democratic People's Republic of Korea

   beverage_types
0            Wine
1           Other
2            Wine
3            Beer
4            Beer
..            ...
95          Other
96           Wine
97           Wine
98           Wine
99           Wine

[100 rows x 4 columns]

Rows and columns has a NaN:
    display_values
0             0.00
1             0.50
2             1.62
3             4.27
4             1.98
..             ...
95            0.00
96            7.38
97            0.00
98            0.00
99            0.00

[100 rows x 1 columns]

Drop rows with any NaNs:
    year       who_region                                country  \
0   1986  Western Pacific                               Viet Nam
1   1986         Americas                                Uruguay
2   1985           Africa                           Cte d'Ivoire
3   1986         Americas                               Colombia
4   1987         Americas                  Saint Kitts and Nevis
..   ...              ...                                    ...
95  1984           Africa                                  Niger
96  1985           Europe                             Luxembourg
97  1984  South-East Asia                              Indonesia
98  1984           Africa                      Equatorial Guinea
99  1985  South-East Asia  Democratic People's Republic of Korea

   beverage_types  display_values
0            Wine            0.00
1           Other            0.50
2            Wine            1.62
3            Beer            4.27
4            Beer            1.98
..            ...             ...
95          Other            0.00
96           Wine            7.38
97           Wine            0.00
98           Wine            0.00
99           Wine            0.00

[95 rows x 5 columns]

26. Write a Pandas program to filter all records starting from the 'Year' column, access every other column from world alcohol consumption dataset.

In [34]:
w_a_con = pd.read_csv('world_alcohol.csv')
print("World alcohol consumption sample data:")
print(w_a_con.head())
print("\nFrom the 'Year' column, access every other column:")
print(w_a_con.loc[:,'Year'::2].head(10))
print("\nAlternate solution:")
print(w_a_con.iloc[:,0::2].head(10))

World alcohol consumption sample data:
   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

From the 'Year' column, access every other column:
   Year                Country  Display Value
0  1986               Viet Nam           0.00
1  1986                Uruguay           0.50
2  1985           Cte d'Ivoire           1.62
3  1986               Colombia           4.27
4  1987  Saint Kitts and Nevis           1.98
5  1987              Guatemala           0.00
6  1987              Mauritius           0.13
7  1985                 Angola           0.39
8  1986    Antigua and Barbuda           1.55
9  1984                Nigeria           6.10

Alternate solution:
   Year                Country  Display Value
0  1986               Viet Nam           0.00
1  1986                Uruguay           0.50
2  1985           Cte d'Ivoire           1.62
3  1986               Colombia           4.27
4  1987  Saint Kitts and Nevis           1.98
5  1987              Guatemala           0.00
6  1987              Mauritius           0.13
7  1985                 Angola           0.39
8  1986    Antigua and Barbuda           1.55
9  1984                Nigeria           6.10

27. Write a Pandas program to filter all records starting from the 2nd row, access every 5th row from world alcohol consumption dataset.

In [35]:
w_a_con = pd.read_csv('world_alcohol.csv')
print("World alcohol consumption sample data:")
print(w_a_con.head())
print("\nStarting from the 2nd row, access every 5th row:")
print(w_a_con.iloc[1::5].head(10))

World alcohol consumption sample data:
   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

Starting from the 2nd row, access every 5th row:
    Year             WHO region  \
1   1986               Americas
6   1987                 Africa
11  1989               Americas
16  1984               Americas
21  1989               Americas
26  1985                 Europe
31  1986        Western Pacific
36  1987  Eastern Mediterranean
41  1986                 Europe
46  1987               Americas

                                              Country Beverage Types  \
1                                             Uruguay          Other
6                                           Mauritius           Wine
11                                          Guatemala           Beer
16                                         Costa Rica           Wine
21                                         Costa Rica        Spirits
26  United Kingdom of Great Britain and Northern I...           Wine
31                   Micronesia (Federated States of)           Wine
36                                              Egypt           Beer
41                                     Czech Republic           Beer
46                                Trinidad and Tobago        Spirits

    Display Value
1            0.50
6            0.13
11           0.62
16           0.06
21           4.51
26           1.36
31           0.00
36           0.07
41           6.82
46           2.26