1. Write a Pandas program to get the powers of an array values element-wise.

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]});
print(df)
power_array = np.array([2, 2 ,2])
df.pow(power_array)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

      X     Y     Z
0  6084  7056  7396
1  7225  8836  9409
2  9216  7921  9216
3  6400  6889  5184
4  7396  7396  6889

2. Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.

In [2]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

3. Write a Pandas program to display a summary of the basic information about a specified DataFrame and its data.

In [3]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print("Summary of the basic information about this DataFrame and its data:")
print(df.info())

Summary of the basic information about this DataFrame and its data:
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

4. Write a Pandas program to get the first 3 rows of a given DataFrame.

In [4]:
print("First three rows of the data frame:")
print(df.iloc[:3])

First three rows of the data frame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

5. Write a Pandas program to select the 'name' and 'score' columns from the following DataFrame

In [5]:
print("Select specific columns:")
df[['name', 'score']]

Select specific columns:

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

6. Write a Pandas program to select the specified columns and rows from a given data frame.

In [6]:
print("Select specific columns and rows:")
print(df.iloc[[1, 3, 5, 6], [1, 3]])

Select specific columns and rows:
   score qualify
b    9.0      no
d    NaN      no
f   20.0     yes
g   14.5     yes

7. Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.

In [7]:
print("Number of attempts in the examination is greater than 2:")
print(df[df['attempts'] > 2])

Number of attempts in the examination is greater than 2:
      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

8. Write a Pandas program to count the number of rows and columns of a DataFrame.

In [8]:
total_rows=len(df.axes[0])
total_cols=len(df.axes[1])
print("Number of Rows: " + str(total_rows))
print("Number of Columns: " + str(total_cols))

Number of Rows: 10
Number of Columns: 4

9. Write a Pandas program to select the rows where the score is missing, i.e. is NaN

In [9]:
print("Rows where score is missing:")
print(df[df['score'].isnull()])

Rows where score is missing:
    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

10. Write a Pandas program to select the rows the score is between 15 and 20 (inclusive).

In [10]:
print("Rows where score between 15 and 20 (inclusive):")
print(df[df['score'].between(15, 20)])

Rows where score between 15 and 20 (inclusive):
        name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes

11. Write a Pandas program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.

In [11]:
print("Number of attempts in the examination is less than 2 and score greater than 15 :")
df[(df['attempts'] < 2) & (df['score'] > 15)]

Number of attempts in the examination is less than 2 and score greater than 15 :

    name  score  attempts qualify
j  Jonas   19.0         1     yes

12. Write a Pandas program to change the score in row 'd' to 11.5

In [12]:
print("\nOriginal data frame:")
print(df)
print("\nChange the score in row 'd' to 11.5:")
df.loc['d', 'score'] = 11.5
print(df)

Original data frame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Change the score in row 'd' to 11.5:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

13. Write a Pandas program to calculate the sum of the examination attempts by the students.

In [13]:
print("\nSum of the examination attempts by the students:")
df['attempts'].sum()

Sum of the examination attempts by the students:

19

14. Write a Pandas program to calculate the mean score for each different student in DataFrame.

In [14]:
print("\nMean score for each different student in data frame:")
df['score'].mean()

Mean score for each different student in data frame:

13.333333333333334

15. Write a Pandas program to append a new row 'k' to data frame with given values for each column. Now delete the new row and return the original DataFrame

In [15]:
print("\nAppend a new row:")
df.loc['k'] = [1, 'Suresh', 'yes', 15.5]
print("Print all records after insert a new record:")
print(df)
print("\nDelete the new row and display the original  rows:")
df = df.drop('k')
print(df)

Append a new row:
Print all records after insert a new record:
        name   score attempts qualify
a  Anastasia    12.5        1     yes
b       Dima     9.0        3      no
c  Katherine    16.5        2     yes
d      James    11.5        3      no
e      Emily     9.0        2      no
f    Michael    20.0        3     yes
g    Matthew    14.5        1     yes
h      Laura     NaN        1      no
i      Kevin     8.0        2      no
j      Jonas    19.0        1     yes
k          1  Suresh      yes    15.5

Delete the new row and display the original  rows:
        name score attempts qualify
a  Anastasia  12.5        1     yes
b       Dima   9.0        3      no
c  Katherine  16.5        2     yes
d      James  11.5        3      no
e      Emily   9.0        2      no
f    Michael  20.0        3     yes
g    Matthew  14.5        1     yes
h      Laura   NaN        1      no
i      Kevin   8.0        2      no
j      Jonas  19.0        1     yes

16. Write a Pandas program to sort the DataFrame first by 'name' in descending order, then by 'score' in ascending order.

In [16]:
print("Orginal rows:")
print(df)
df.sort_values(by=['name', 'score'], ascending=[True, True], inplace=True)
print("Sort the data frame first by ‘name’ in descending order, then by ‘score’ in ascending order:")
print(df)

Orginal rows:
        name score attempts qualify
a  Anastasia  12.5        1     yes
b       Dima   9.0        3      no
c  Katherine  16.5        2     yes
d      James  11.5        3      no
e      Emily   9.0        2      no
f    Michael  20.0        3     yes
g    Matthew  14.5        1     yes
h      Laura   NaN        1      no
i      Kevin   8.0        2      no
j      Jonas  19.0        1     yes
Sort the data frame first by ‘name’ in descending order, then by ‘score’ in ascending order:
        name score attempts qualify
a  Anastasia  12.5        1     yes
b       Dima   9.0        3      no
e      Emily   9.0        2      no
d      James  11.5        3      no
j      Jonas  19.0        1     yes
c  Katherine  16.5        2     yes
i      Kevin   8.0        2      no
h      Laura   NaN        1      no
g    Matthew  14.5        1     yes
f    Michael  20.0        3     yes

17. Write a Pandas program to replace the 'qualify' column contains the values 'yes' and 'no' with True and False.

In [17]:
print("\nReplace the 'qualify' column contains the values 'yes' and 'no'  with True and  False:")
df['qualify'] = df['qualify'].map({'yes': True, 'no': False})
print(df)

Replace the 'qualify' column contains the values 'yes' and 'no'  with True and  False:
        name score attempts  qualify
a  Anastasia  12.5        1     True
b       Dima   9.0        3    False
e      Emily   9.0        2    False
d      James  11.5        3    False
j      Jonas  19.0        1     True
c  Katherine  16.5        2     True
i      Kevin   8.0        2    False
h      Laura   NaN        1    False
g    Matthew  14.5        1     True
f    Michael  20.0        3     True

18. Write a Pandas program to change the name 'James' to 'Suresh' in name column of the DataFrame.

In [18]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
print("Original rows:")
print(df)
print("\nChange the name 'James' to ‘Suresh’:")
df['name'] = df['name'].replace('James', 'Suresh')
print(df)

Original rows:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Change the name 'James' to ‘Suresh’:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d     Suresh    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

19. Write a Pandas program to delete the 'attempts' column from the DataFrame.

In [19]:
print("\nDelete the 'attempts' column from the data frame:")
df.pop('attempts')
print(df)

Delete the 'attempts' column from the data frame:
        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d     Suresh    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes

20. Write a Pandas program to insert a new column in existing DataFrame.

In [20]:
print(df)
color = ['Red','Blue','Orange','Red','White','White','Blue','Green','Green','Red']
df['color'] = color
print("\nNew DataFrame after inserting the 'color' column")
print(df)

        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d     Suresh    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes

New DataFrame after inserting the 'color' column
        name  score qualify   color
a  Anastasia   12.5     yes     Red
b       Dima    9.0      no    Blue
c  Katherine   16.5     yes  Orange
d     Suresh    NaN      no     Red
e      Emily    9.0      no   White
f    Michael   20.0     yes   White
g    Matthew   14.5     yes    Blue
h      Laura    NaN      no   Green
i      Kevin    8.0      no   Green
j      Jonas   19.0     yes     Red

21. Write a Pandas program to iterate over rows in a DataFrame.

In [21]:
exam_data = [{'name':'Anastasia', 'score':12.5}, {'name':'Dima','score':9}, {'name':'Katherine','score':16.5}]
df = pd.DataFrame(exam_data)
for index, row in df.iterrows():
    print(row['name'], row['score'])

Anastasia 12.5
Dima 9.0
Katherine 16.5

22. Write a Pandas program to get list from DataFrame column headers.

In [22]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
print(list(df.columns.values))

['name', 'score', 'attempts', 'qualify']

23. Write a Pandas program to rename columns of a given DataFrame

In [23]:
d = {'col1': [1, 2, 3], 'col2': [4, 5, 6], 'col3': [7, 8, 9]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
df.columns = ['Column1', 'Column2', 'Column3']
df = df.rename(columns={'col1': 'Column1', 'col2': 'Column2', 'col3': 'Column3'})
print("New DataFrame after renaming columns:")
print(df)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9
New DataFrame after renaming columns:
   Column1  Column2  Column3
0        1        4        7
1        2        5        8
2        3        6        9

24. Write a Pandas program to select rows from a given DataFrame based on values in some columns.

In [24]:
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
print('Rows for colum1 value == 4')
print(df.loc[df['col1'] == 4])

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
Rows for colum1 value == 4
   col1  col2  col3
1     4     5     8
3     4     7     0

25. Write a Pandas program to change the order of a DataFrame columns.

In [25]:
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
print('After altering col1 and col3')
df = df[['col3', 'col2', 'col1']]
print(df)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
After altering col1 and col3
   col3  col2  col1
0     7     4     1
1     8     5     4
2     9     6     3
3     0     7     4
4     1     8     5

26. Write a Pandas program to add one row in an existing DataFrame.

In [26]:
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
print('After add one row:')
df2 = pd.DataFrame({'col1': [10], 'col2': [11], 'col3': [12]})
df = pd.concat([df, df2])
# df = df.append(df2, ignore_index=True)
print(df)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
After add one row:
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
0    10    11    12

27. Write a Pandas program to write a DataFrame to CSV file using tab separator.

In [27]:
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
print('Data from new_file.csv file:')
df.to_csv('new_file.csv', sep=' ', index=False)
new_df = pd.read_csv('new_file.csv')
print(new_df)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
Data from new_file.csv file:
  col1 col2 col3
0          1 4 7
1          4 5 8
2          3 6 9
3          4 7 0
4          5 8 1

28. Write a Pandas program to count city wise number of people from a given of data set (city, name of the person).

In [28]:
df1 = pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'city': ['California', 'Los Angeles', 'California', 'California', 'California', 'Los Angeles', 'Los Angeles', 'Georgia', 'Georgia', 'Los Angeles']})

g1 = df1.groupby(["city"]).size().reset_index(name='Number of people')
print(g1)

          city  Number of people
0   California                 4
1      Georgia                 2
2  Los Angeles                 4

29. Write a Pandas program to delete DataFrame row(s) based on given column value.

In [29]:
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
df = df[df.col2 != 5]
print("New DataFrame")
print(df)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
New DataFrame
   col1  col2  col3
0     1     4     7
2     3     6     9
3     4     7     0
4     5     8     1

30. Write a Pandas program to widen output display to see more columns.

In [30]:
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(data=d)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
print("Original DataFrame")
print(df)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

31. Write a Pandas program to select a row of series/dataframe by given integer index.

In [31]:
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
result = df.iloc[[2]]
print("Index-2: Details")
print(result)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
Index-2: Details
   col1  col2  col3
2     3     6     9

32. Write a Pandas program to replace all the NaN values with Zero's in a column of a dataframe.

In [32]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)
print("Original DataFrame")
print(df)
df =  df.fillna(0)
print("\nNew DataFrame replacing all NaN with 0:")
print(df)

Original DataFrame
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

New DataFrame replacing all NaN with 0:
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    0.0         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    0.0         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

33. Write a Pandas program to convert index in a column of the given dataframe

In [33]:
df.reset_index(level=0, inplace=True)
print(df)
print("\nHiding index:")
print( df.to_string(index=False))

   index       name  score  attempts qualify
0      0  Anastasia   12.5         1     yes
1      1       Dima    9.0         3      no
2      2  Katherine   16.5         2     yes
3      3      James    0.0         3      no
4      4      Emily    9.0         2      no
5      5    Michael   20.0         3     yes
6      6    Matthew   14.5         1     yes
7      7      Laura    0.0         1      no
8      8      Kevin    8.0         2      no
9      9      Jonas   19.0         1     yes

Hiding index:
 index      name  score  attempts qualify
     0 Anastasia   12.5         1     yes
     1      Dima    9.0         3      no
     2 Katherine   16.5         2     yes
     3     James    0.0         3      no
     4     Emily    9.0         2      no
     5   Michael   20.0         3     yes
     6   Matthew   14.5         1     yes
     7     Laura    0.0         1      no
     8     Kevin    8.0         2      no
     9     Jonas   19.0         1     yes

34. Write a Pandas program to set a given value for particular cell in  DataFrame using index value.

In [34]:
print("\nSet a given value for particular cell in the DataFrame")
df.at[8,'score'] = 9
df

Set a given value for particular cell in the DataFrame

   index       name  score  attempts qualify
0      0  Anastasia   12.5         1     yes
1      1       Dima    9.0         3      no
2      2  Katherine   16.5         2     yes
3      3      James    0.0         3      no
4      4      Emily    9.0         2      no
5      5    Michael   20.0         3     yes
6      6    Matthew   14.5         1     yes
7      7      Laura    0.0         1      no
8      8      Kevin    9.0         2      no
9      9      Jonas   19.0         1     yes

35. Write a Pandas program to count the NaN values in one or more columns in DataFrame.

In [35]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)
print("Original DataFrame")
print(df)
print("\nNumber of NaN values in one or more columns:")
print(df.isnull().values.sum())

Original DataFrame
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

Number of NaN values in one or more columns:
2

36. Write a Pandas program to drop a list of rows from a specified DataFrame.

In [36]:
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(d)
print("Original DataFrame")
print(df)
print("New DataFrame after removing 2nd & 4th rows:")
df = df.drop(df.index[[2,4]])
print(df)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
New DataFrame after removing 2nd & 4th rows:
   col1  col2  col3
0     1     4     7
1     4     5     8
3     4     7     0

37. Write a Pandas program to reset index in a given DataFrame.

In [37]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)
print("Original DataFrame")
print(df)
print("\nAfter removing first and second rows")
df = df.drop([0, 1])
print(df)
print("\nReset the Index:")
df = df.reset_index()
print(df)

Original DataFrame
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

After removing first and second rows
        name  score  attempts qualify
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

Reset the Index:
   index       name  score  attempts qualify
0      2  Katherine   16.5         2     yes
1      3      James    NaN         3      no
2      4      Emily    9.0         2      no
3      5    Michael   20.0         3     yes
4      6    Matthew   14.5         1     yes
5      7      Laura    NaN         1      no
6      8      Kevin    8.0         2      no
7      9      Jonas   19.0         1     yes

38. Write a Pandas program to divide a DataFrame in a given ratio.

In [38]:
df = pd.DataFrame(np.random.randn(10, 2))
print("Original DataFrame:")
print(df)
part_70 = df.sample(frac=0.7,random_state=10).sort_index()
part_30 = df.drop(part_70.index)
print("\n70% of the said DataFrame:")
print(part_70)
print("\n30% of the said DataFrame:")
print(part_30)

Original DataFrame:
          0         1
0  0.937262  0.704214
1 -0.582033  1.086078
2  0.314580  0.600256
3 -0.410611  1.481935
4  0.055316  1.994525
5 -0.181662 -1.122426
6 -0.267600  0.017715
7  1.169528  1.019382
8  0.331334 -0.125446
9 -0.562168  0.820188

70% of the said DataFrame:
          0         1
0  0.937262  0.704214
1 -0.582033  1.086078
2  0.314580  0.600256
3 -0.410611  1.481935
5 -0.181662 -1.122426
6 -0.267600  0.017715
8  0.331334 -0.125446

30% of the said DataFrame:
          0         1
4  0.055316  1.994525
7  1.169528  1.019382
9 -0.562168  0.820188

39. Write a Pandas program to combining two series into a DataFrame.

In [39]:
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
s2 = pd.Series(['10', '20', 'php', '30.12', '40'])
print("Data Series:")
print(s1)
print(s2)
df = pd.concat([s1, s2], axis=1)
print("New DataFrame combining two series:")
print(df)

Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       10
1       20
2      php
3    30.12
4       40
dtype: object
New DataFrame combining two series:
        0      1
0     100     10
1     200     20
2  python    php
3  300.12  30.12
4     400     40

40. Write a Pandas program to shuffle a given DataFrame rows.

In [40]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)
print("Original DataFrame:")
print(df)
df = df.sample(frac=1)
print("\nNew DataFrame:")
print(df)

Original DataFrame:
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

New DataFrame:
        name  score  attempts qualify
7      Laura    NaN         1      no
4      Emily    9.0         2      no
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
6    Matthew   14.5         1     yes
0  Anastasia   12.5         1     yes
8      Kevin    8.0         2      no
3      James    NaN         3      no
5    Michael   20.0         3     yes
9      Jonas   19.0         1     yes

41. Write a Pandas program to convert DataFrame column type from string to datetime.

In [41]:
s = pd.Series(['3/11/2000', '3/12/2000', '3/13/2000'])
print("String Date:")
print(s)
r = pd.to_datetime(pd.Series(s))
df = pd.DataFrame(r)
print("Original DataFrame (string to datetime):")
print(df)

String Date:
0    3/11/2000
1    3/12/2000
2    3/13/2000
dtype: object
Original DataFrame (string to datetime):
           0
0 2000-03-11
1 2000-03-12
2 2000-03-13

42. Write a Pandas program to rename a specific column name in a given DataFrame.

In [42]:
d = {'col1': [1, 2, 3], 'col2': [4, 5, 6], 'col3': [7, 8, 9]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
df = df.rename(columns = {'col2':'Column2'})
print("New DataFrame after renaming second column:")
print(df)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9
New DataFrame after renaming second column:
   col1  Column2  col3
0     1        4     7
1     2        5     8
2     3        6     9

43. Write a Pandas program to get a list of a specified column of a DataFrame.

In [43]:
d = {'col1': [1, 2, 3], 'col2': [4, 5, 6], 'col3': [7, 8, 9]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
col2_list = df["col2"].tolist()
print("Col2 of the DataFrame to list:")
print(col2_list)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9
Col2 of the DataFrame to list:
[4, 5, 6]

44. Write a Pandas program to create a DataFrame from a Numpy array and specify the index column and column headers.

In [44]:
dtype = [('Column1','int32'), ('Column2','float32'), ('Column3','float32')]
values = np.zeros(15, dtype=dtype)
index = ['Index'+str(i) for i in range(1, len(values)+1)]
df = pd.DataFrame(values, index=index)
print(df)

         Column1  Column2  Column3
Index1         0      0.0      0.0
Index2         0      0.0      0.0
Index3         0      0.0      0.0
Index4         0      0.0      0.0
Index5         0      0.0      0.0
Index6         0      0.0      0.0
Index7         0      0.0      0.0
Index8         0      0.0      0.0
Index9         0      0.0      0.0
Index10        0      0.0      0.0
Index11        0      0.0      0.0
Index12        0      0.0      0.0
Index13        0      0.0      0.0
Index14        0      0.0      0.0
Index15        0      0.0      0.0

45. Write a Pandas program to find the row for where the value of a given column is maximum.

In [45]:
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
print("Row where col1 has maximum value:")
print(df['col1'].argmax())
print("Row where col2 has maximum value:")
print(df['col2'].argmax())
print("Row where col3 has maximum value:")
print(df['col3'].argmax())

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11
Row where col1 has maximum value:
4
Row where col2 has maximum value:
3
Row where col3 has maximum value:
2

46. Write a Pandas program to check whether a given column is present in a DataFrame or not.

In [46]:
if 'col4' in df.columns:
  print("Col4 is present in DataFrame.")
else:
  print("Col4 is not present in DataFrame.")
if 'col1' in df.columns:
  print("Col1 is present in DataFrame.")
else:
  print("Col1 is not present in DataFrame.")

Col4 is not present in DataFrame.
Col1 is present in DataFrame.

47. Write a Pandas program to get the specified row value of a given DataFrame.

In [47]:
print("Value of Row1")
print(df.iloc[0])
print("Value of Row4")
print(df.iloc[3])

Value of Row1
col1    1
col2    4
col3    7
Name: 0, dtype: int64
Value of Row4
col1    4
col2    9
col3    1
Name: 3, dtype: int64

48. Write a Pandas program to get the datatypes of columns of a DataFrame.

In [48]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)
print("Original DataFrame:")
print(df)
print("Data types of the columns of the said DataFrame:")
print(df.dtypes)

Original DataFrame:
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes
Data types of the columns of the said DataFrame:
name         object
score       float64
attempts      int64
qualify      object
dtype: object

49. Write a Pandas program to append data to an empty DataFrame.

In [49]:
df = pd.DataFrame()
data = pd.DataFrame({"col1": range(3),"col2": range(3)})
print("After appending some data:")
df = pd.concat([data, df])
print(df)

After appending some data:
   col1  col2
0     0     0
1     1     1
2     2     2

50. Write a Pandas program to sort a given DataFrame by two or more columns.

In [50]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)
print("Original DataFrame:")
print(df)
print("\nSort the above DataFrame on attempts, name:")
df = df.sort_values(['attempts', 'name'], ascending=[True, True])
print(df)

Original DataFrame:
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

Sort the above DataFrame on attempts, name:
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
9      Jonas   19.0         1     yes
7      Laura    NaN         1      no
6    Matthew   14.5         1     yes
4      Emily    9.0         2      no
2  Katherine   16.5         2     yes
8      Kevin    8.0         2      no
1       Dima    9.0         3      no
3      James    NaN         3      no
5    Michael   20.0         3     yes

51. Write a Pandas program to convert the datatype of a given column (floats to ints).

In [51]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9.1, 16.5, 12.77, 9.21, 20.22, 14.5, 11.34, 8.8, 19.13],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)
print("Original DataFrame:")
print(df)
print("\nData types of the columns of the said DataFrame:")
print(df.dtypes)
print("\nNow change the Data type of 'score' column from float to int:")
df.score = df.score.astype(int)
print(df)
print("\nData types of the columns of the DataFrame now:")
print(df.dtypes)

Original DataFrame:
        name  score  attempts qualify
0  Anastasia  12.50         1     yes
1       Dima   9.10         3      no
2  Katherine  16.50         2     yes
3      James  12.77         3      no
4      Emily   9.21         2      no
5    Michael  20.22         3     yes
6    Matthew  14.50         1     yes
7      Laura  11.34         1      no
8      Kevin   8.80         2      no
9      Jonas  19.13         1     yes

Data types of the columns of the said DataFrame:
name         object
score       float64
attempts      int64
qualify      object
dtype: object

Now change the Data type of 'score' column from float to int:
        name  score  attempts qualify
0  Anastasia     12         1     yes
1       Dima      9         3      no
2  Katherine     16         2     yes
3      James     12         3      no
4      Emily      9         2      no
5    Michael     20         3     yes
6    Matthew     14         1     yes
7      Laura     11         1      no
8      Kevin      8         2      no
9      Jonas     19         1     yes

Data types of the columns of the DataFrame now:
name        object
score        int32
attempts     int64
qualify     object
dtype: object

52. Write a Pandas program to remove infinite values from a given DataFrame.

In [52]:
df = pd.DataFrame([1000, 2000, 3000, -4000, np.inf, -np.inf])
print("Original DataFrame:")
print(df)
print("Removing infinite values:")
df = df.replace([np.inf, -np.inf], np.nan)
print(df)

Original DataFrame:
        0
0  1000.0
1  2000.0
2  3000.0
3 -4000.0
4     inf
5    -inf
Removing infinite values:
        0
0  1000.0
1  2000.0
2  3000.0
3 -4000.0
4     NaN
5     NaN

53. Write a Pandas program to insert a given column at a specific column index in a DataFrame.

In [53]:
d = {'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
new_col = [1, 2, 3, 4, 7]  
# insert the said column at the beginning in the DataFrame
idx = 0
df.insert(loc=idx, column='col1', value=new_col)
print("\nNew DataFrame")
print(df)

Original DataFrame
   col2  col3
0     4     7
1     5     8
2     6    12
3     9     1
4     5    11

New DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

54. Write a Pandas program to convert a given list of lists into a Dataframe.

In [54]:
my_lists = [['col1', 'col2'], [2, 4], [1, 3]]
# sets the headers as list
headers = my_lists.pop(0) 
print("Original list of lists:")
print(my_lists)
df = pd.DataFrame(my_lists, columns = headers)
print("New DataFrame")
print(df)

Original list of lists:
[[2, 4], [1, 3]]
New DataFrame
   col1  col2
0     2     4
1     1     3

55. Write a Pandas program to group by the first column and get second column as lists in rows.

In [55]:
df = pd.DataFrame( {'col1':['C1','C1','C2','C2','C2','C3','C2'], 'col2':[1,2,3,3,4,6,5]})
print("Original DataFrame")
print(df)
df = df.groupby('col1')['col2'].apply(list)
print("\nGroup on the col1:")
print(df)

Original DataFrame
  col1  col2
0   C1     1
1   C1     2
2   C2     3
3   C2     3
4   C2     4
5   C3     6
6   C2     5

Group on the col1:
col1
C1          [1, 2]
C2    [3, 3, 4, 5]
C3             [6]
Name: col2, dtype: object

56. Write a Pandas program to get column index from column name of a given DataFrame

In [56]:
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
print("\nIndex of 'col2'")
print(df.columns.get_loc("col2"))

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

Index of 'col2'
1

57. Write a Pandas program to count number of columns of a DataFrame.

In [59]:
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
print("\nNumber of columns:")
print(len(df.columns))

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

Number of columns:
3

58. Write a Pandas program to select all columns, except one given column in a DataFrame

In [65]:
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
print("\nAll columns except 'col3':")
df = df.loc[:, df.columns != 'col3']
print(df)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

All columns except 'col3':
   col1  col2
0     1     4
1     2     5
2     3     6
3     4     9
4     7     5

59. Write a Pandas program to get first n records of a DataFrame.

In [66]:
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
print("\nFirst 3 rows of the said DataFrame':")
df1 = df.head(3)
print(df1)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

First 3 rows of the said DataFrame':
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8

60. Write a Pandas program to get last n records of a DataFrame.

In [67]:
df2 = df.tail(3)
print(df2)

   col1  col2  col3
3     4     9    12
4     7     5     1
5    11     0    11

61. Write a Pandas program to get topmost n records within each group of a DataFrame.

In [68]:
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
print("\ntopmost n records within each group of a DataFrame:")
df1 = df.nlargest(3, 'col1')
print(df1)
df2 = df.nlargest(3, 'col2')
print(df2)
df3 = df.nlargest(3, 'col3')
print(df3)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

topmost n records within each group of a DataFrame:
   col1  col2  col3
5    11     0    11
4     7     5     1
3     4     9    12
   col1  col2  col3
3     4     9    12
2     3     6     8
1     2     5     5
   col1  col2  col3
3     4     9    12
5    11     0    11
2     3     6     8

62. Write a Pandas program to remove first n rows of a given DataFrame

In [69]:
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
print("\nAfter removing first 3 rows of the said DataFrame:")
df1 = df.iloc[3:]
print(df1)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

After removing first 3 rows of the said DataFrame:
   col1  col2  col3
3     4     9    12
4     7     5     1
5    11     0    11

63. Write a Pandas program to remove last n rows of a given DataFrame.

In [70]:
df2 = df.iloc[:3]
print(df2)

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8

64. Write a Pandas program to add a prefix or suffix to all columns of a given DataFrame.

In [71]:
df = pd.DataFrame({'W':[68,75,86,80,66],'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]});
print("Original DataFrame")
print(df)
print("\nAdd prefix:")
print(df.add_prefix("A_"))
print("\nAdd suffix:")
print(df.add_suffix("_1"))

Original DataFrame
    W   X   Y   Z
0  68  78  84  86
1  75  85  94  97
2  86  96  89  96
3  80  80  83  72
4  66  86  86  83

Add prefix:
   A_W  A_X  A_Y  A_Z
0   68   78   84   86
1   75   85   94   97
2   86   96   89   96
3   80   80   83   72
4   66   86   86   83

Add suffix:
   W_1  X_1  Y_1  Z_1
0   68   78   84   86
1   75   85   94   97
2   86   96   89   96
3   80   80   83   72
4   66   86   86   83

65. Write a Pandas program to reverse order (rows, columns) of a given DataFrame.

In [73]:
df = pd.DataFrame({'W':[68,75,86,80,66],'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]});
print("Original DataFrame")
print(df)
print("\nReverse column order:")
print(df.loc[:, ::-1])
print("\nReverse row order:")
print(df.loc[::-1])
print("\nReverse row order and reset index:")
print(df.loc[::-1].reset_index(drop = True))

Original DataFrame
    W   X   Y   Z
0  68  78  84  86
1  75  85  94  97
2  86  96  89  96
3  80  80  83  72
4  66  86  86  83

Reverse column order:
    Z   Y   X   W
0  86  84  78  68
1  97  94  85  75
2  96  89  96  86
3  72  83  80  80
4  83  86  86  66

Reverse row order:
    W   X   Y   Z
4  66  86  86  83
3  80  80  83  72
2  86  96  89  96
1  75  85  94  97
0  68  78  84  86

Reverse row order and reset index:
    W   X   Y   Z
0  66  86  86  83
1  80  80  83  72
2  86  96  89  96
3  75  85  94  97
4  68  78  84  86

66. Write a Pandas program to select columns by data type of a given DataFrame.

In [74]:
df = pd.DataFrame({
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Syed Wharton'],
    'date_of_birth': ['17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]
})

print("Original DataFrame")
print(df)
print("\nSelect numerical columns")
print(df.select_dtypes(include = "number"))
print("\nSelect string columns")
print(df.select_dtypes(include = "object"))

Original DataFrame
             name date_of_birth   age
0  Alberto Franco    17/05/2002  18.5
1    Gino Mcneill    16/02/1999  21.2
2     Ryan Parkes    25/09/1998  22.5
3    Eesha Hinton    11/05/2002  22.0
4    Syed Wharton    15/09/1997  23.0

Select numerical columns
    age
0  18.5
1  21.2
2  22.5
3  22.0
4  23.0

Select string columns
             name date_of_birth
0  Alberto Franco    17/05/2002
1    Gino Mcneill    16/02/1999
2     Ryan Parkes    25/09/1998
3    Eesha Hinton    11/05/2002
4    Syed Wharton    15/09/1997

67. Write a Pandas program to split a given DataFrame into two random subsets.

In [75]:
df = pd.DataFrame({
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Syed Wharton'],
    'date_of_birth': ['17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': ['18', '21', '22', '22', '23']
})

df_1 = df.sample(frac = 0.6)
df_2 = df.drop(df_1.index)
print("Original Dataframe and shape:")
print(df)
print(df.shape)
print("\nSubset-1 and shape:")
print(df_1)
print(df_1.shape)
print("\nSubset-2 and shape:")
print(df_2)
print(df_2.shape)

Original Dataframe and shape:
             name date_of_birth age
0  Alberto Franco    17/05/2002  18
1    Gino Mcneill    16/02/1999  21
2     Ryan Parkes    25/09/1998  22
3    Eesha Hinton    11/05/2002  22
4    Syed Wharton    15/09/1997  23
(5, 3)

Subset-1 and shape:
             name date_of_birth age
2     Ryan Parkes    25/09/1998  22
4    Syed Wharton    15/09/1997  23
0  Alberto Franco    17/05/2002  18
(3, 3)

Subset-2 and shape:
           name date_of_birth age
1  Gino Mcneill    16/02/1999  21
3  Eesha Hinton    11/05/2002  22
(2, 3)

68. Write a Pandas program to rename all columns with the same pattern of a given DataFrame

In [76]:
df = pd.DataFrame({
    'Name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Syed Wharton'],
    'Date_Of_Birth ': ['17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'Age': [18.5, 21.2, 22.5, 22, 23]
})

print("Original DataFrame")
print(df)
df.columns = df.columns.str.lower().str.rstrip()
print("\nRemove trailing (at the end) whitesapce and convert to lowercase of the columns name")
print(df.head())

Original DataFrame
             Name Date_Of_Birth    Age
0  Alberto Franco     17/05/2002  18.5
1    Gino Mcneill     16/02/1999  21.2
2     Ryan Parkes     25/09/1998  22.5
3    Eesha Hinton     11/05/2002  22.0
4    Syed Wharton     15/09/1997  23.0

Remove trailing (at the end) whitesapce and convert to lowercase of the columns name
             name date_of_birth   age
0  Alberto Franco    17/05/2002  18.5
1    Gino Mcneill    16/02/1999  21.2
2     Ryan Parkes    25/09/1998  22.5
3    Eesha Hinton    11/05/2002  22.0
4    Syed Wharton    15/09/1997  23.0

69. Write a Pandas program to merge datasets and check uniqueness

In [77]:
df = pd.DataFrame({
    'Name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Syed Wharton'],
    'Date_Of_Birth ': ['17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'Age': [18.5, 21.2, 22.5, 22, 23]
})
print("Original DataFrame:")
print(df)
df1 = df.copy(deep = True)
df = df.drop([0, 1])
df1 = df1.drop([2])
print("\nNew DataFrames:")
print(df)
print(df1)
print('\n"one_to_one”: check if merge keys are unique in both left and right datasets:"')
df_one_to_one = pd.merge(df, df1, validate = "one_to_one")
print(df_one_to_one)
print('\n"one_to_many” or “1:m”: check if merge keys are unique in left dataset:')
df_one_to_many = pd.merge(df, df1, validate = "one_to_many")
print(df_one_to_many)
print('“many_to_one” or “m:1”: check if merge keys are unique in right dataset:')
df_many_to_one = pd.merge(df, df1, validate = "many_to_one")
print(df_many_to_one)

Original DataFrame:
             Name Date_Of_Birth    Age
0  Alberto Franco     17/05/2002  18.5
1    Gino Mcneill     16/02/1999  21.2
2     Ryan Parkes     25/09/1998  22.5
3    Eesha Hinton     11/05/2002  22.0
4    Syed Wharton     15/09/1997  23.0

New DataFrames:
           Name Date_Of_Birth    Age
2   Ryan Parkes     25/09/1998  22.5
3  Eesha Hinton     11/05/2002  22.0
4  Syed Wharton     15/09/1997  23.0
             Name Date_Of_Birth    Age
0  Alberto Franco     17/05/2002  18.5
1    Gino Mcneill     16/02/1999  21.2
3    Eesha Hinton     11/05/2002  22.0
4    Syed Wharton     15/09/1997  23.0

"one_to_one”: check if merge keys are unique in both left and right datasets:"
           Name Date_Of_Birth    Age
0  Eesha Hinton     11/05/2002  22.0
1  Syed Wharton     15/09/1997  23.0

"one_to_many” or “1:m”: check if merge keys are unique in left dataset:
           Name Date_Of_Birth    Age
0  Eesha Hinton     11/05/2002  22.0
1  Syed Wharton     15/09/1997  23.0
“many_to_one” or “m:1”: check if merge keys are unique in right dataset:
           Name Date_Of_Birth    Age
0  Eesha Hinton     11/05/2002  22.0
1  Syed Wharton     15/09/1997  23.0

70. Write a Pandas program to convert continuous values of a column in a given DataFrame to categorical.

In [78]:
df = pd.DataFrame({
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Syed Wharton', 'Kierra Gentry'],
      'age': [18, 22, 85, 50, 80, 5]
})
print("Original DataFrame:")
print(df)
print('\nAge group:')
df["age_groups"] = pd.cut(df["age"], bins = [0, 18, 65, 99], labels = ["kids", "adult", "elderly"])
print(df["age_groups"])

Original DataFrame:
             name  age
0  Alberto Franco   18
1    Gino Mcneill   22
2     Ryan Parkes   85
3    Eesha Hinton   50
4    Syed Wharton   80
5   Kierra Gentry    5

Age group:
0       kids
1      adult
2    elderly
3      adult
4    elderly
5       kids
Name: age_groups, dtype: category
Categories (3, object): ['kids' < 'adult' < 'elderly']

71. Write a Pandas program to display memory usage of a given DataFrame and every column of the DataFrame.

In [79]:
print("\nGlobal usage of memory of the DataFrame:")
print(df.info(memory_usage = "deep"))
print("\nThe usage of memory of every column of the said DataFrame:")
print(df.memory_usage(deep = True))

Global usage of memory of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        6 non-null      object
 1   age         6 non-null      int64
 2   age_groups  6 non-null      category
dtypes: category(1), int64(1), object(1)
memory usage: 893.0 bytes
None

The usage of memory of every column of the said DataFrame:
Index         128
name          416
age            48
age_groups    301
dtype: int64

72. Write a Pandas program to combine many given series to create a DataFrame.

In [80]:
sr1 = pd.Series(['php', 'python', 'java', 'c#', 'c++'])
sr2 = pd.Series([1, 2, 3, 4, 5])
print("Original Series:")
print(sr1)
print(sr2)
print("Combine above series to a dataframe:")
ser_df = pd.DataFrame(sr1, sr2).reset_index()
print(ser_df.head())
print("\nUsing pandas concat:")
ser_df = pd.concat([sr1, sr2], axis = 1)
print(ser_df.head())
print("\nUsing pandas DataFrame with a dictionary, gives a specific name to the columns:")
ser_df = pd.DataFrame({"col1":sr1, "col2":sr2})
print(ser_df.head(5))

Original Series:
0       php
1    python
2      java
3        c#
4       c++
dtype: object
0    1
1    2
2    3
3    4
4    5
dtype: int64
Combine above series to a dataframe:
   index       0
0      1  python
1      2    java
2      3      c#
3      4     c++
4      5     NaN

Using pandas concat:
        0  1
0     php  1
1  python  2
2    java  3
3      c#  4
4     c++  5

Using pandas DataFrame with a dictionary, gives a specific name to the columns:
     col1  col2
0     php     1
1  python     2
2    java     3
3      c#     4
4     c++     5

73. Write a Pandas program to create DataFrames that contains random values, contains missing values, contains datetime values and contains mixed values.

In [82]:
import pandas.util.testing

print("DataFrame: Contains random values:")
df1 = pandas.util.testing.makeDataFrame() # contains random values
print(df1)
print("\nDataFrame: Contains missing values:")
df2 = pandas.util.testing.makeMissingDataframe() # contains missing values
print(df2)
print("\nDataFrame: Contains datetime values:")
df3 = pandas.util.testing.makeTimeDataFrame() # contains datetime values
print(df3)
print("\nDataFrame: Contains mixed values:")
df4 = pandas.util.testing.makeMixedDataFrame() # contains mixed values
print(df4)

DataFrame: Contains random values:
                   A         B         C         D
oOj1xznYQM  0.533456  0.420964  0.317510  0.368789
WIibMHnZWT -0.692877 -1.162781  0.049148 -0.914507
p927CVPG0B -1.125981  1.047651 -0.039268  0.059471
qWF7rDd0Ld  1.731256 -2.067455 -1.060293 -2.083143
RsQdHQv5YO -0.356624  0.966778  0.003409 -0.333522
za9PWS7C94  0.222038  0.359936 -0.080104  0.525558
ViHoqZLvuM  1.654500  1.696663  0.378757 -1.906815
zNQFRsoCr0  2.305415  0.336672 -1.553675  0.666606
mxl5Cl2jvV -1.133154 -0.654933  1.330713 -1.536487
yh1W1tb1US -0.093580  0.170885 -0.381861 -0.574263
oho8ZFaFqX  0.864277 -1.537594  0.099532  0.203000
WaQ7nm6KFV -0.951895  0.132817  1.141885  1.424217
ZuQcM6WCjD  0.041635  0.791001  0.715947  0.645335
t3zRODgi1o  2.150864  1.131613 -1.065438  0.169029
ThYnLEd8gJ  0.108555 -0.775345  0.659804  0.088597
CH0BDGyLZs  0.637595 -0.617487 -0.719295 -0.077250
1FFWAho1j0  1.229508  0.325120  0.408468  0.176156
8VnwDzYJRf -1.054657 -0.037807  0.538509 -1.835180
rqVyEMg6Sn  0.802650  1.460929  0.812871 -0.967413
YdB21Fg9Ox  1.748043  1.166939 -0.453988  0.317186
gd4s9078bx -0.394348 -1.075321 -0.511162 -0.890686
1fNlejgisI  0.491842 -0.087606  0.440038  1.274762
DlAe4Itobt -1.584414  1.007327 -0.544133  1.090081
HaMbwBPbDD  0.029758  1.108764  1.093012 -1.307173
MYebC8ADQr  1.498210 -0.671510 -0.681878  1.893599
cCg8TXod8Z  2.164704 -0.280376  0.570681 -1.065585
kxf6DySbst -1.640775 -0.173264 -0.209399 -3.139498
cgLf90oUB3 -0.341108 -1.546314  0.182903 -0.950764
WBEpbw3SBf  0.280921 -0.532998 -0.916623  0.778882
5srTMp1iz5 -1.432672  0.403341  0.296735 -0.681976

DataFrame: Contains missing values:
                   A         B         C         D
qUh0QNNnQr -0.839055 -1.731421  1.009763  1.984998
xKFdoaa1c2  0.366369  0.650311  0.933160 -1.952271
C0qF9jcTj6 -1.416409 -0.737801 -1.142366 -0.962408
kI3qbl8bN5  1.280295 -0.416308 -1.402303  0.461862
szjrRGnlLP  0.144896  2.113029 -0.468329 -1.388043
oEYy2IOD5H -0.940855 -0.886670  1.532277 -0.151696
PFU6uhK2Wv  1.253040 -1.190690 -0.077730  0.718884
onVnn23n6n       NaN  0.491215  2.197681  0.946130
1gdwQJ0Fcb -1.391795 -1.049798  0.339686 -0.474058
smdXxsSCSO -0.131508       NaN -1.882600 -0.563362
xOJzRe6hY6 -0.417619       NaN  0.118567  0.005487
zQFNYmes6O  0.247338  0.943260  1.637285  1.132637
TKtkxTKo4v  0.935377  0.825453  0.145859  0.414093
Q9TnrftqYH  1.605460  1.151805  0.064697  0.403444
t2nBZsvdVg       NaN -0.922416 -0.310988       NaN
8py03fXShd       NaN       NaN  0.176700 -1.274334
WwwUlSjCtZ  0.033611  1.460027 -1.479996  1.807665
G1BttQUWnV -0.976005  0.542529  0.151222  0.657886
FNHBPxbw30 -1.547533 -0.515369  0.060189 -0.561516
zRLMjP1UBj -0.015109 -1.028937 -0.519974 -0.901763
Nml7J7GyPi  0.866574 -0.006388 -0.679806 -0.301825
WIaq8SFKvk  0.577444 -1.978473  2.077277 -0.032140
MNRW5YA7qK  0.443619 -0.381449  1.037128 -0.207225
os4drYUUDy -0.543105 -1.560544       NaN  1.234942
HWbvjJAtsX       NaN  0.365518  0.555407       NaN
zBzAvbfGA1  0.928107  2.260241  1.674098 -0.316760
QsmCzUZSic  0.576178       NaN       NaN  0.364406
FUVjiu1aL0  0.142188  0.517284 -0.995940 -0.582890
tQcXDRDON9 -1.408608  0.347360 -0.480620 -3.185211
z8Q1v146Zw  1.079513  2.221693  1.612296 -1.191189

DataFrame: Contains datetime values:
                   A         B         C         D
2000-01-03  0.228985 -0.470223 -0.394690 -0.991081
2000-01-04  0.106086  0.169799  0.400934 -0.274491
2000-01-05  2.021589 -0.207779  0.144954 -1.198163
2000-01-06  0.300422  0.757843  0.573769 -1.447462
2000-01-07 -0.542879  0.004092 -0.216211 -0.612690
2000-01-10  0.061483  0.088269 -1.433855 -0.037770
2000-01-11  0.140586  1.564739  1.674705 -0.166971
2000-01-12 -0.139686  1.907774 -0.501841 -0.861547
2000-01-13 -0.263115 -1.055256 -2.423973 -0.788698
2000-01-14  1.724001 -0.312564 -1.950879 -1.249498
2000-01-17 -0.503542  0.163568  0.783926 -1.091507
2000-01-18  0.129724 -0.108649 -1.839266 -0.402916
2000-01-19  0.075651 -0.432378 -0.982429 -1.592238
2000-01-20  0.692513  0.109146  0.309443  0.088684
2000-01-21 -0.470733 -0.236487  0.081849 -1.130078
2000-01-24 -0.165645 -1.029387 -0.097819 -1.477686
2000-01-25 -0.626791  0.076552  1.256765  0.736465
2000-01-26  0.071192 -1.346503  0.673053 -0.530581
2000-01-27 -0.567503  0.796654 -1.941629 -0.160048
2000-01-28  1.208598  1.437314  0.399346  0.350432
2000-01-31  0.643066  0.440661  0.471835 -0.199473
2000-02-01 -1.926118 -1.362899  0.035039 -1.892348
2000-02-02  0.709301  1.233613  0.981427 -0.882969
2000-02-03  0.780761 -0.906457  1.366387  0.409172
2000-02-04  1.039023  1.083273  0.320845  0.008593
2000-02-07  1.921367 -2.071662  2.617171  1.878951
2000-02-08  0.270191 -0.729820  1.311801  0.555757
2000-02-09 -1.439053  0.740961 -0.652832  0.126932
2000-02-10 -0.410080 -0.587267  0.032338  0.807244
2000-02-11 -0.638677  0.103631  1.103537  0.603529

DataFrame: Contains mixed values:
     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

74. Write a Pandas program to fill missing values in time series data.

In [83]:
sdata = {"c1":[120, 130 ,140, 150, np.nan, 170], "c2":[7, np.nan, 10, np.nan, 5.5, 16.5]}
df = pd.DataFrame(sdata)
df.index = pandas.util.testing.makeDateIndex()[0:6]
print("Original DataFrame:")
print(df)
print("\nDataFrame after interpolate:")
print(df.interpolate())

Original DataFrame:
               c1    c2
2000-01-03  120.0   7.0
2000-01-04  130.0   NaN
2000-01-05  140.0  10.0
2000-01-06  150.0   NaN
2000-01-07    NaN   5.5
2000-01-10  170.0  16.5

DataFrame after interpolate:
               c1     c2
2000-01-03  120.0   7.00
2000-01-04  130.0   8.50
2000-01-05  140.0  10.00
2000-01-06  150.0   7.75
2000-01-07  160.0   5.50
2000-01-10  170.0  16.50

75. Write a Pandas program to use a local variable within a query.

In [84]:
df = pd.DataFrame({'W':[68,75,86,80,66],'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]});
print("Original DataFrame")
print(df)
maxx = df["W"].max()
print("\nValues which are less than maximum value of 'W' column")
print(df.query("W < @maxx"))

Original DataFrame
    W   X   Y   Z
0  68  78  84  86
1  75  85  94  97
2  86  96  89  96
3  80  80  83  72
4  66  86  86  83

Values which are less than maximum value of 'W' column
    W   X   Y   Z
0  68  78  84  86
1  75  85  94  97
3  80  80  83  72
4  66  86  86  83

76. Write a Pandas program to clean object column with mixed data of a given DataFrame using regular expression.

In [85]:
d = {"agent": ["a001", "a002", "a003", "a003", "a004"], "purchase":[4500.00, 7500.00, "$3000.25", "$1250.35", "9000.00"]}
df = pd.DataFrame(d)
print("Original dataframe:")
print(df)
print("\nData Types:")
print(df["purchase"].apply(type))
df["purchase"] = df["purchase"].replace("[$,]", "", regex = True).astype("float")
print("\nNew Data Types:")
print(df["purchase"].apply(type))

Original dataframe:
  agent  purchase
0  a001    4500.0
1  a002    7500.0
2  a003  $3000.25
3  a003  $1250.35
4  a004   9000.00

Data Types:
0    <class 'float'>
1    <class 'float'>
2      <class 'str'>
3      <class 'str'>
4      <class 'str'>
Name: purchase, dtype: object

New Data Types:
0    <class 'float'>
1    <class 'float'>
2    <class 'float'>
3    <class 'float'>
4    <class 'float'>
Name: purchase, dtype: object

77. Write a Pandas program to get the numeric representation of an array by identifying distinct values of a given column of a dataframe.

In [86]:
df = pd.DataFrame({
    'Name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill'],
    'Date_Of_Birth ': ['17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'Age': [18.5, 21.2, 22.5, 22, 23]
})
print("Original DataFrame:")
print(df)
label1, unique1 = pd.factorize(df['Name'])
print("\nNumeric representation of an array by identifying distinct values:")
print(label1)
print(unique1)

Original DataFrame:
             Name Date_Of_Birth    Age
0  Alberto Franco     17/05/2002  18.5
1    Gino Mcneill     16/02/1999  21.2
2     Ryan Parkes     25/09/1998  22.5
3    Eesha Hinton     11/05/2002  22.0
4    Gino Mcneill     15/09/1997  23.0

Numeric representation of an array by identifying distinct values:
[0 1 2 3 1]
Index(['Alberto Franco', 'Gino Mcneill', 'Ryan Parkes', 'Eesha Hinton'], dtype='object')

78. Write a Pandas program to replace the current value in a dataframe column based on last largest value. If the current value is less than last largest value replaces the value with 0

In [87]:
df1=pd.DataFrame({'rnum':[23, 21, 27, 22, 34, 33, 34, 31, 25, 22, 34, 19, 31, 32, 19]})
print("Original DataFrame:")
print(df1)
df1['rnum']=df1.rnum.where(df1.rnum.eq(df1.rnum.cummax()),0)
print("\nReplace current value in a dataframe column based on last largest value:")
print(df1)

Original DataFrame:
    rnum
0     23
1     21
2     27
3     22
4     34
5     33
6     34
7     31
8     25
9     22
10    34
11    19
12    31
13    32
14    19

Replace current value in a dataframe column based on last largest value:
    rnum
0     23
1      0
2     27
3      0
4     34
5      0
6     34
7      0
8      0
9      0
10    34
11     0
12     0
13     0
14     0

79. Write a Pandas program to create a DataFrame from the clipboard (data from an Excel spreadsheet or a Google Sheet).

In [88]:
df = pd.read_clipboard()
print("Data from clipboard to DataFrame:")
print(df)

Data from clipboard to DataFrame:
                         df     = pd.read_clipboard()
print("Data from  clipboard    to        DataFrame:")
print(df)   NaN        None  None                None

80. Write a Pandas program to check for inequality of two given DataFrames.

In [89]:
df1 = pd.DataFrame({'W':[68,75,86,80,None],'X':[78,85,None,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]});
df2 = pd.DataFrame({'W':[78,75,86,80,None],'X':[78,85,96,80,76], 'Y':[84,84,89,83,86],'Z':[86,97,96,72,83]});
print("Original DataFrames:")
print(df1)
print(df2)
print("\nCheck for inequality of the said dataframes:")
print(df1.ne(df2))

Original DataFrames:
      W     X   Y   Z
0  68.0  78.0  84  86
1  75.0  85.0  94  97
2  86.0   NaN  89  96
3  80.0  80.0  83  72
4   NaN  86.0  86  83
      W   X   Y   Z
0  78.0  78  84  86
1  75.0  85  84  97
2  86.0  96  89  96
3  80.0  80  83  72
4   NaN  76  86  83

Check for inequality of the said dataframes:
       W      X      Y      Z
0   True  False  False  False
1  False  False   True  False
2  False   True  False  False
3  False  False  False  False
4   True   True  False  False

81. Write a Pandas program to get lowest n records within each group of a given DataFrame.

In [90]:
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
print("\nLowest n records within each group of a DataFrame:")
df1 = df.nsmallest(3, 'col1')
print(df1)
df2 = df.nsmallest(3, 'col2')
print(df2)
df3 = df.nsmallest(3, 'col3')
print(df3)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

Lowest n records within each group of a DataFrame:
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
   col1  col2  col3
5    11     0    11
0     1     4     7
1     2     5     5
   col1  col2  col3
4     7     5     1
1     2     5     5
0     1     4     7